/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

a {
	color: var(--color-link);
	text-decoration: none;

	/**
	* Remove the gray background on active links in IE 10.
	*/
	background-color: transparent;

	&:visited { color: var(--color-link-visited); }

	&:focus { outline: thin dotted; }

	&:focus,
	&:hover,
	&:active { color: var(--color-link-active); }

	&:hover,
	&:active { outline: 0; }
}

.taxonomy_tag {
	--tag-font-size: clamp(8px, 1.1vw, 22px);
	--color: var(--foreground);
	--hover-color: var(--color);
	--height: var(--fontsize-s);
	--padding: 14px;
	--hover-background: var(--blue-800);
	font-size: var(--tag-font-size);
	background: var(--color-theme-primary);
	height: var(--height);
	font-family: var(--highlight-font-family);
	color: var(--color);
	padding: var(--padding);
	transition: all 1.6s 0.2s var(--reverse-timing-function);
	box-shadow: 1px 1px 1px var(--gray-500);

	display: inline-flex;
	letter-spacing: 1px;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	line-height: 1.9;
	margin: 20px 10px;
	border-radius: 15px;

	&:hover {
		background: var(--hover-background);
		box-shadow: 1px 2px 3px var(--gray-700);
	}

	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: var(--hover-color);
		transition: all 0.6s var(--transition-timing-function);
	}

	& > span {
		margin-right: 4px;
		font-size: var(--fontsize-xxxs);
		color: var(--foreground);
	}

}

.material-icons {
	/* Colors */
	--button-active-background: var(--blue-800);
	--button-color: var(--foreground);
	--button-background: var(--color-theme-blue);
	--button-hover-background: var(--blue-800);
	--shadow-color: rgba(0, 0, 0, 0.4);

	/* Eases */
	--timing-function-out: var(--transition-timing-function);
	--timing-function: var(--reverse-timing-function);

	/* Shadow */
	--h-offset: 2px;
	--v-offset: var(--h-offset);
	--blur-radius: 6px;
	--spread-radius: 1px;
	--button-shadow: var(--h-offset) var(--v-offset) var(--blur-radius) var(--shadow-color);

	/* Button Sizing */
	--button-size: var(--fontsize-xl);
	--fixed-offset: calc(var(--button-size) / 4);
	--button-xl: var(--fontsize-xl);
	--button-m: var(--fontsize-m);


	&.button {
		color: var(--button-color);
		background: var(--button-background);
		font-size: var(--button-m);
		border-radius: 50%;
		padding: 0.6rem;
		box-shadow: var(--button-shadow);
		transform: scale(0.7);
		transition: all 0.3s var(--reverse-timing-function);
		outline: none;

		&:hover {
			transform: scale(0.8);
			transition: all 0.2s var(--bg-bezier);
			color: var(--button-color);
			outline: none;
		}

		&:focus {
			outline: 1px solid var(--gray-200);
			outline-offset: 3px;
		}

		&:active {
			--shadow-color: var(--gray-200);
			box-shadow: var(--button-shadow);
			background: var(--button-active-background);
			transition: all 0.1s ease;
			text-shadow: 1px 1px var(--yellow-600);
		}

		&.reversed {
			--button-color: var(--foreground);
			--button-background: var(--gray-400);
			--button-hover-background: var(--gray-300);
			--button-active-background: var(--gray-700);
		}
	} /* \.button */

	&.floating-btn {
		color: var(--button-color);
		background: var(--button-background);
		font-size: calc(var(--button-size) / 2);
		border-radius: 50%;
		margin: 0.8vw;

		display: flex;
		align-items: center;
		justify-content: center;

		text-decoration: none;
		width: var(--button-size);
		height: var(--button-size);
		cursor: pointer;
		box-shadow: var(--button-shadow);
		will-change: box-shadow;

		transition: all 0.25s var(--reverse-timing-function);
		outline: none;

		&:active,
		&:focus,
		&:focus-within {
			--h-offset: -1px;
			--button-background: var(--indigo-600);
			outline: none;
		}

		&:hover {
			--button-background: var(--indigo-600);
			transform: scale(1.1);
			transition: all 0.25s var(--transition-timing-function);

		}

		&:visited {
			--v-offset: 2px;
		}

	} /* \.floating-btn */
} /* \.material-icons */


[anim="ripple"] {
	--ripple-background: var(--foreground);
	--ripple-opacity: 0.3;
	--ripple-duration: 600ms;
	--ripple-easing: linear;

	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		display: block;
		background: var(--ripple-background);
		border-radius: 50%;
		pointer-events: none;

		top: calc(var(--y) * 1px);
		left: calc(var(--x) * 1px);
		width: calc(var(--d) * 1px);
		height: calc(var(--d) * 1px);

		opacity: calc(var(--o, 1) * var(--ripple-opacity));
		transition: calc(var(--t, 0) * var(--ripple-duration)) var(--ripple-easing);
		transform: translate(-50%, -50%) scale(var(--s, 1));
		transform-origin: center;
	}
}

.throbbing {
	position: fixed;
	right: 20px;
	top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 150px;
	border-radius: 100%;
	background: var(indigo-600);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);


	& span {
		position: relative;
		font-size: 72px;
		top: 5px;
		left: -5px;
	}

	&::before,
	&::after {
		opacity: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: -8px;
		left: -8px;
		right: 0;
		bottom: 0;
		content: "";
		height: 100%;
		width: 100%;
		border: 8px solid rgba(0, 0, 0, 0.2);
		border-radius: 100%;
		animation-name: throb;
		animation-duration: 3s;
		animation-delay: 0s;
		animation-iteration-count: infinite;
		animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
		z-index: -1;
	}
	&::before {
		animation-delay: 0.5s;
	}
}
