/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/
/* stylelint-disable */
:root {
	/* LIGHT THEME */
	--foreground: #f8f8f8; /* nearly white */
	--background: #111; /* nearly black */

	/* FONT RELATED */
	/*#region*/

	/* FONT FAMILIES */
	--font-stack: 'fira code', monospace, sans-serif;
	--highlight-font-family: 'roboto mono', ubuntu, system-ui, blinkmacsystemfont, sans-serif;
	--global-font-family: -apple-system, ubuntu, serif;

	/* FONT WEIGHTS */
	--hairline: 100;
	--thin: 200;
	--light: 300;
	--normal: 400;
	--medium: 500;
	--semibold: 600;
	--heavy: 600;
	--bold: 700;
	--extrabold: 800;
	--superbold: 900;

	/* FONT SIZES */
	--global-font-size: 10px;
	--global-font-line-height: 1.4;

	/* CUSTOM EDITOR FONT SIZES */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(12px + 0.698vw);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc((40 / var(--global-font-size) )* 1rem);
	--font-size-largest: calc((48 / var(--global-font-size)) * 1.2rem);

	/* @link https://www.fluiditype.com */
	--fontsize-xxxs: calc(2px + 0.698vw);
	--fontsize-xxs: calc(6px + 0.698vw);
	--fontsize-xs: calc(8px + 0.698vw);
	--fontsize-s: var(--font-size-regular);
	--fontsize-m: calc(var(--fontsize-s) * 2);
	--fontsize-l: calc(var(--fontsize-s) * 2);
	--fontsize-xl: calc(var(--fontsize-s) * 3);
	--lineHeight: calc(var(--fontsize-s) * 1.4);
	--letterSpacing: calc(var(--fontsize-s) * 0.0015);

	--fontsize-xxs: clamp(0.8rem, 2.60vw, 1.10rem);
	--fontsize-xs: clamp(0.98rem, 2.60vw, 1.30rem);
	--fontsize-s: clamp(1.30rem, 2.93vw, 1.56rem);
	--fontsize-m: clamp(1.43rem, 3.58vw, 2.27rem);
	--fontsize-l: clamp(1.63rem, 3.90vw, 2.60rem);
	--fontsize-xl: clamp(1.95rem, 4.55vw, 3.25rem);
	--fontsize-xxl: clamp(2.27rem, 5.20vw, 3.90rem);
	/*#endregion*/

	/* TAILWIND COLORS */
	/*#region*/
	--indigo-100: #ebf4ff;
	--indigo-200: #c3dafe;
	--indigo-300: #a3bffa;
	--indigo-400: #7f9cf5;
	--indigo-500: #667eea;
	--indigo-600: #5741d9;
	--indigo-700: #4c51bf;
	--indigo-800: #434190;
	--indigo-900: #3c366b;
	--gray-100: #e6e6e6;
	--gray-200: #a0aec0;
	--gray-300: #94a4b8;
	--gray-400: #8597ae;
	--gray-500: #768aa4;
	--gray-600: #677d9a;
	--gray-700: #5c718b;
	--gray-800: #777;
	--gray-900: #515153;
	--red-100: #fff5f5;
	--red-200: #fed7d7;
	--red-300: #feb2b2;
	--red-400: #fc8181;
	--red-500: #f56565;
	--red-600: #ff2d26;
	--red-700: #c53030;
	--red-800: #9b2c2c;
	--red-900: #742a2a;
	--orange-100: #fffaf0;
	--orange-200: #feebc8;
	--orange-300: #fbd38d;
	--orange-400: #f6ad55;
	--orange-500: #ed8936;
	--orange-600: #dd6b20;
	--orange-700: #c05621;
	--orange-800: #9c4221;
	--orange-900: #7b341e;
	--yellow-100: #fffff0;
	--yellow-200: #fefcbf;
	--yellow-300: #faf089;
	--yellow-400: #f6e05e;
	--yellow-500: #ecc94b;
	--yellow-600: #ffc600;
	--yellow-700: #b7791f;
	--yellow-800: #975a16;
	--yellow-900: #744210;
	--green-100: #f0fff4;
	--green-200: #c6f6d5;
	--green-300: #9ae6b4;
	--green-400: #68d391;
	--green-500: #48bb78;
	--green-600: #38a169;
	--green-700: #2f855a;
	--green-800: #276749;
	--green-900: #22543d;
	--teal-100: #e6fffa;
	--teal-200: #b2f5ea;
	--teal-300: #81e6d9;
	--teal-400: #4fd1c5;
	--teal-500: #38b2ac;
	--teal-600: #319795;
	--teal-700: #2c7a7b;
	--teal-800: #285e61;
	--teal-900: #234e52;
	--blue-100: #ebf8ff;
	--blue-200: #bee3f8;
	--blue-300: #90cdf4;
	--blue-400: #4299e1;
	--blue-500: #3182ce;
	--blue-600: #0273b9;
	--blue-700: #2b6cb0;
	--blue-800: #285078;
	--blue-900: #2a4365;
	--purple-100: #faf5ff;
	--purple-200: #e9d8fd;
	--purple-300: #d6bcfa;
	--purple-400: #b794f4;
	--purple-500: #9f7aea;
	--purple-600: #805ad5;
	--purple-700: #6b46c1;
	--purple-800: #553c9a;
	--purple-900: #44337a;
	--pink-100: #fff5f7;
	--pink-200: #fed7e2;
	--pink-300: #fbb6ce;
	--pink-400: #f687b3;
	--pink-500: #ed64a6;
	--pink-600: #d53f8c;
	--pink-700: #b83280;
	--pink-800: #97266d;
	--pink-900: #702459;
	/*#endregion*/

	--yellow: var(--yellow-600);
	--red: var(--red-600);
	--green: var(--green-600);
	--blue: var(--blue-600);
	--black: var(--gray-900);
	--grey: var(--gray-500);
	--gray: var(--gray-500);
	--primary: var(--blue-600);
	--secondary: var(--indigo-600);
	--color-theme-primary: var(--blue-600);
	--color-theme-secondary: var(--indigo-600);
	--color-theme-red: var(--red-600);
	--color-theme-green: var(--green-600);
	--color-theme-blue: var(--blue-600);
	--color-theme-yellow: var(--yellow-600);
	--color-theme-black: var(--gray-900);
	--color-theme-grey: var(--gray-500);
	--color-theme-white: var(--foreground);

	/* CUSTOM EDITOR COLORS */
	--color-custom-sun: var(--yellow-200);
	--nav-ul-bg: var(--foreground);
	--color-link: var(--color-theme-primary);
	--color-link-visited: var(--indigo-800);
	--color-link-active: var(--blue-800);

	/* General */
	--body-bg-color: var(--foreground);
	--bg-body-color: var(--foreground);
	--hr-color: var(--gray-400);

	/* TEXT COLOR */
	--text-color-dark-bg: var(--foreground);
	--has-dark-bg: var(--foreground);
	--text-color: var(--gray-800, #515153);
	--global-font-color: var(--text-color);
	--global-text-color: var(--text-color);

	/* END Tailwind Colors */

	--content-width: 60vw; /* initially 45 rem */
	--nav-width: 100vw; /* initially 45 rem */
	--dropdown-symbol-width: 0.7em;
	--h1-letter-spacing: 0.08em;

	/* QUOTES */
	--color-quote-border: var(--gray-800);
	--color-quote-citation: var(--gray-600);

	/* BEZIER TRANSITIONS */
	/*#region*/
	--transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	--reverse-timing-function: cubic-bezier(0.53, -1.09, 0.44, 1.18);
	--alternate-bezier-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--bezier-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	--bg-bezier: cubic-bezier(0.21, 1.47, 0.89, 1.51);
	/*#endregion*/

	/* ADMIN VARIABLES */
	/*#region*/
	--admin-theme-primary: var(--color-theme-primary);
	--table-header-color: var(--yellow-600);
	--table-header-bg: var(--admin-theme-primary);
	--admin-font: var(--font-stack);
	--admin-font-size: 1.15rem;
	--admin-row-actions-font-size: 8px;
	--admin-heading-color: var(--global-font-color);
	--admin-bg-color: var(--admin-theme-primary);
	--admin-bg-darker: var(--color-link-visited);
	--admin-bg-lighter: var(--indigo-400);
	--admin-light-links: var(--foreground);
	--admin-dark-links: var(--global-font-color);
	--admin-table-bg: var(--indigo-100);
	--admin-link: var(--admin-theme-primary);
	--admin-link-hover: var(--indigo-900);
	--submenu-width: 180px;
	--paragraph-color: var(--global-font-color);
	--star-rating-size: 1.25rem;
	/*#endregion*/

	/* LOGO */
	/*#region*/
	--jones-svg-fill: var(--blue-600);
	--tagline-svg-fill: var(--gray-500);
	--logo-letter-fill: var(--foreground);
	--logo-circle-fill: var(--gray-300);
	--logo_text_fill: var(--logo-letter-fill);
	--logotype-tagline-display: none;
	--jonessign-text-svg-tagline-fill: var(--gray-500);
	/*#endregion*/

	/* PRE */
	--pre-bg: var(--blue-700);
	--pre-color: var(--foreground);

	/* Flickity */
	--flickity-button-color: var(--gray-900);

	/* Gradient */
	--admin-gradient: linear-gradient(45deg, var(--indigo-400) 0%, var(--indigo-600) 50%, var(--indigo-800) 100%);
	--wesbos-gradient: linear-gradient(110deg, var(--pink-700), var(--indigo-500) );
	--blue-gradient: linear-gradient(110deg, var(--blue-700), var(--blue-500) );
	--header-gradient: linear-gradient(110deg, var(--blue-700), var(--indigo-600) );

	/* FRONTPAGE PROJECTS */
	--cb-color: var(--gray-900);
	--projects-accent-color: var(--color-theme-primary);
	--check-color: var(--blue-600);
	--box-bg: var(--check-color);
	--dark: var(--gray-900);
	--border-thicknesss: 0.5px;
	--border-type: dashed;
	--border: var(--border-thicknesss) var(--border-type);
	--card-bg: #fdfdfd;
	--location-text-color: var(--foreground);
	--more-info-bg: var(--check-color);
	--flickity-button-color: var(--color-theme-primary);

	/* MENU */
	--main-menu-bg: var(--color-theme-primary);
	--sidemenu-width: 220px;
	/* SIDE HAMBURGER MENU */
	/*#region*/
	--hamburger-menu-background-color-one: var(--color-theme-primary);
	--hamburger-menu-background-color-two: rgba(40, 80, 120, 0.6);
	--burger-div-height: 45px;
	--hamburger-menu-width: 60px;

	/* Shadows */
	--shadow-one: 0 1px 3px rgba(0, 0, 0, 0.12);
	--shadow-two: 0 1px 2px rgba(0, 0, 0, 0.24);
	--section-shadow: 0 8px 19px var(--gray-700);
	--hamburger-menu-box-shadow: var(--shadow-one), var(--shadow-two);
	--inset-shadow: inset 0 0 10px rgba(0, 0, 15, 0.48);
	--btn-box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	--contact-form-shadow:
		0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12),
		0 8px 10px -5px rgba(0, 0, 0, 0.3);
	/*#endregion*/


	/* FOOTER */
	--address-color: var(--gray-900);
	--address-font-size: 1.1rem;
	--animation-delay: 3s;
	--animation-duration: 6s;
	--background-color: #0273b9;
	--footer-text-color: var(--foreground);
	--link-color: #ce606f;
	--map-m-top: 3em;
	--map-max-width: 100%;
	--marker-border-color: var(--marker-color);
	--marker-color: var(--yellow-600);
	--marker-header-bg-color: var(--color-theme-primary);
	--state-fill: var(--color-theme-primary);
	--state-stroke-width: 2;
	--state-stroke: var(--blue-500);
	--subline-color: var(--gray-500);

	/* FORMS */
	--field-focus-text-color: var(--gray-600);

	/* Icons */
	--logo-background: var(--gray-100);
	--logo-foreground: var(--color-theme-blue);

}


/* stylelint-enable */

@media (prefers-color-scheme: dark ) {

	:root {
		--foreground: #f8f8f8; /* nearly white */
		--background: #111; /* nearly black */

		--text-color: var(--foreground);
		--body-bg-color: var(--blue-900);
		--jones-svg-fill: var(--foreground);
		--tagline-svg-fill: var(--gray-200);
	}
}
@media and (width > 768px ) {
	:root {
		--global-font-size: 20px;
	}
}
