/* last update 16 September 2020 - using postcss extend */
/* stylelint-disable */
.flex {
	display: flex;
}

/* flex flow displays the direction and the wrap styles, but this is just the plain old flex direction styles*/
.direction-column,
.column,
.col {
	flex-direction: column;
}

.direction-column-reverse,
.column-reverse,
.col-reverse {
	flex-direction: column-reverse;
}

.direction-row,
.row {
	flex-direction: row;
}

.direction-row-reverse,
.row-reverse {
	flex-direction: row-reverse;
}

/*---------- MAIN AXIS ROW= X-Axis aligned, COLUMN = Y Axis Aligned----------*/
.row-nw,
.row-nowrap {
	flex-flow: row nowrap;
}

.col-nw,
.col-nowrap {
	flex-flow: column nowrap;
}

.row-wrap {
	flex-flow: row wrap;
}

.col-wrap {
	flex-flow: column wrap;
}

.col-reverse-wrap {
	flex-flow: column-reverse wrap;
}

.col-reverse-nowrap {
	flex-flow: column-reverse nowrap;
}

.row-reverse-wrap {
	flex-flow: row-reverse wrap;
}

.row-reverse-nowrap {
	flex-flow: row-reverse nowrap;
}


/*===========================================
=      PRIMARY AXIS STYLES      =
===========================================*/
/*---------- Justify Content is For MAIN AXIS ----------*/

.justify-content-space-around {
	justify-content: space-around;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

/*simplified classes*/
.justify-space-around {
	justify-content: space-around;
}

.justify-around {
	justify-content: space-around;
}

.justify-space-between {
	justify-content: space-between;
}

.justify-between {
	justify-content: space-between;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

/*===== End of PRIMARY AXIS STYLES ======*/

/*=============================================
=      SECONDARY AXIS STYLES      =
=============================================*/
/*------- "ALIGN" = "ALIGN ITEMS", BUT YOU KEEP FORGETTING, SO MIGHT AS WELL GO WITH IT ----*/
.align-space-around {
	align-items: space-around;
}

.align-space-between {
	align-items: space-between;
}

.align-start {
	align-items: flex-start;
}

.align-end {
	align-items: flex-end;
}

.align-center {
	align-items: center;
}

.align-stretch {
	align-items: stretch;
}

.align-baseline {
	align-items: baseline;
}

/*--- "ALIGN ITEMS" = "align" IS FOR SECONDARY AXIS ----------*/
.align-items-space-around {
	align-items: space-around;
}

.align-items-space-between {
	align-items: space-between;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.align-items-center {
	align-items: center;
}

.align-items-stretch {
	align-items: stretch;
}

.align-items-baseline {
	align-items: baseline;
}

/* ===== End of SECONDARY AXIS STYLES ====== */

/*--- ALIGN CONTENT FOR CONTENT THAT WRAPS:Applies When a Wrapped Item has Extra Space ----------*/
.align-content-space-around {
	align-content: space-around;
}

.align-content-space-between {
	align-content: space-between;
}

.align-content-start {
	align-content: flex-start;
}

.align-content-end {
	align-content: flex-end;
}

.align-content-center {
	align-content: center;
}

/*simplified align content classes*/
.content-space-around {
	align-content: space-around;
}

.content-space-between {
	align-content: space-between;
}

.content-start {
	align-content: flex-start;
}

.content-end {
	align-content: flex-end;
}

.content-center {
	align-content: center;
}

/* ========== CHILD ITEM STYLES ==========*/

/*---------- Align Self is for CHILD ITEMS , it OVERRIDES 'Align-Items' ----------*/
.align-self-start {
	align-self: start;
}

.align-self-end {
	align-self: end;
}

.align-self-center {
	align-self: center;
}

.align-self-stretch {
	align-self: stretch;
}

/*---------- HOW SHOULD THIS CHILD ITEM GROW IN PROPORTION -- defaults to one, proportionate to one ----------*/
.grow-1 {
	flex-grow: 1;
}

.grow-2 {
	flex-grow: 2;
}

.grow-3 {
	flex-grow: 3;
}

.grow-4 {
	flex-grow: 4;
}

/*---------- ORDER of a CHILD ITEM
defaults to 1, so a negative number would go first ----------*/
.order-minus-one {
	order: -1;
}

.order-one {
	order: 1;
}

.order-two {
	order: 2;
}

.order-three {
	order: 3;
}

.order-last {
	order: 25;
}
/* stylelint-enable */
