
/*--------------------------------------------------------------
# Footer
# NOTE:
# "\2714" = ✔
# "\2713" = ✓
# "\2706" = ✆
# "\25BE" = ▾

--------------------------------------------------------------*/
a[href^="tel:"]::before {
	content: "\2706";
	margin-right: 0.5em;
}

footer {
	grid-area: footer;
	margin-top: 5vw; /* to clear the descending flickity dots */
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-template-rows: 600px 1fr;
	grid-template-areas:
		"locationselect map"
		"locationselect locationaddress";
}


/*--------------------------------------------------------------
======================== LOCATION SELECT =======================
--------------------------------------------------------------*/
/*#region*/

/* Default custom select styles */
#location-select {
	--options-bg: rgba(2, 115, 185, 0.7);
	grid-area: locationselect;
	align-self: flex-start;
	z-index: 100;
	-webkit-touch-callout: none;
	user-select: none;
	background: transparent;
	font-size: 0.8em;
}

div.location-select-element:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.location-select-element select {
	display: none;
}

.location-select-element span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.location-select-element > span {
	padding: 0.5em 3em 0.5em 0.5em;
	border-bottom: 3px solid #000;
	border-color: inherit;
	font-weight: var(--bold);
}

.location-select-element > span::after,
.location-select-element .location-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\002b"; /*+*/
	right: 0.25em;
	transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
	transition: transform 0.5s;
}

.location-select-element > span::after {
	content: "\002b"; /*+*/
	right: 1em;
	right: 0.25em;
	transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
	transition: transform 0.5s;
}

.location-select-element .location-selected span::after {
	content: "\2713";
	margin-left: 1em;
}

.location-select-element.location-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
	transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 270deg);
}

div.location-active {
	z-index: 200;
}

/* location Options */
.location-select-element .location-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	visibility: hidden;
	background: var(--options-bg, #ffc600);
	opacity: 0;
	transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
}

.location-select-element.location-active .location-options {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s;
}

.location-select-element ul {
	margin: 0;
	padding: 0;
	/* width: 100%; */
	list-style: none;

	& span {
		position: relative;
		text-transform: uppercase;
		font-size: 66%;
		font-weight: var(--bold);
		letter-spacing: 1px;
		padding: 1.2em 0.8em;
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		transition: opacity 0.3s, transform 0.3s;
		color: #fff;
	}
}


.location-select-element ul span::after {
	content: "";
	opacity: 0;
}

.location-select-element ul span::before {
	content: "";
	position: absolute;
	bottom: 1px;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #fff;
	transform: translate3d(200%, 0, 0);
	transition: transform 0.3s;
}


.location-select-element .location-selected span::after {
	content: "\002b"; /*+*/
	opacity: 1;
	transition: opacity 0.3s 0.7s;
}

.location-select-element ul li.location-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.location-select-element li.location-optgroup ul {
	padding-left: 1em;
}

.location-select-element li.location-optgroup > span {
	cursor: default;
}

div.location-select-element {
	position: relative;
	background: transparent;
	font-size: 1.8em;
	max-width: 400px;
}

@media screen and (max-width: 30em) {
	div.location-select-element {
		font-size: 1.2em;
	}
}

.location-select-element > span {
	padding: 0.5em 3em 0.5em 0.5em;
	border-bottom: 2px solid #000;
	border-color: inherit;
	font-weight: var(--bold);
}

.location-select-element > span::after {
	content: "\002b"; /* + */
	right: 0.25em;
	font-size: var(--fontsize-xl);
	transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 0deg);
	transition: transform 0.5s;
}

/* Plus sign spins around and becomes an 'x' */
.location-select-element.location-active > span::after {
	transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 225deg);
}

.location-select-element .location-options {
	background: var(--options-bg, #bbc7c8);
	opacity: 0;
	transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
}

.location-select-element.location-active .location-options {
	opacity: 1;
	transition: opacity 0.3s;
}

.location-select-element ul span {
	position: relative;
	text-transform: uppercase;
	font-size: 66%;
	font-weight: var(--bold);
	letter-spacing: 1px;
	padding: 1.2em 0.8em;
	opacity: 0;
	transform: translate3d(100%, 0, 0);
	transition: opacity 0.3s, transform 0.3s;
}

.location-select-element ul span::after {
	content: "";
	opacity: 0;
}

.location-select-element .location-selected span {
	position: relative;
}

/* Checkmark only appears when an item is selected and we open up the selections again */
.location-select-element .location-selected span::after {
	content: "\2713"; /*✓*/
	opacity: 1;
	transition: opacity 0.3s 0.7s;
	font-size: 1.5em;
	color: var(--yellow-600);

	/* transform: translate3d(-150%, -50%, 0) rotate3d(0, 0, 0, -90deg); */
	transform: translate3d(-2rem, -50%, 0) rotate3d(0, 0, 0, -90deg);
}


.location-select-element.location-active ul span,
.location-select-element.location-active ul span::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}


/* more items require more delay declarations */

/* stylelint-disable */
@for $i from 2 to 14 {
	.location-select-element li:nth-child($i) span,
	.location-select-element li:nth-child($i) span::before,
	.location-select-element.location-active li:nth-child($i) span,
	.location-select-element.location-active li:nth-child($i) span::before {
		transition-delay: calc($(i)s * 0.05);
	}
}

/* stylelint-enable */

.location-select-element .location-options li span:hover,
.location-select-element .location-options li.location-focus span,
.location-select-element li.location-selected span {
	color: var(--gray-100);
	background: rgba(2, 115, 185, 0.9);
	transition: all 0.2s ease;
}

/*#endregion*/

/*--------------------------------------------------------------
======================== LOCATION MAP ==========================
--------------------------------------------------------------*/
#location-map {
	--state-fill: var(--color-theme-primary);
	--state-stroke: var(--blue-500);
	--state-stroke-width: 2;
	--address-font-size: 1.1rem;
	--animation-duration: 10s;
	--marker-color: var(--yellow-600);
	--width: 70%;
	--map-max-width: 100%;
	--map-m-top: 3em;
	--animation-delay: 2s;

	grid-area: map;


	& svg {
		height: auto;
		max-width: var(--map-max-width);
	}

	& .state {
		fill: var(--state-fill);
		stroke: var(--state-stroke);
		stroke-width: var(--state-stroke-width);
	}

	& .map {
		margin-top: var(--map-m-top);
		position: relative;
	}/* /.map */

	& .map-markers {
		--marker-left: 63.5%;
		--marker-top: 22%;
		list-style: none;
		margin: 0;
		padding: 0;

		& .grb,
		& .nat {
			left: var(--marker-left);
			top: var(--marker-top);
			&::after {
				animation-delay: var(--animation-delay);
			}
		}

		& .msp {
			--marker-left: 55%;
			--marker-top: 20%;
			--animation-delay: 2.5s;
			left: var(--marker-left);
			top: var(--marker-top);

			&::after {
				animation-delay: var(--animation-delay);
			}
		}

		& .tpa {
			--marker-left: 79%;
			--marker-top: 86%;
			--animation-delay: 3s;
			left: var(--marker-left);
			top: var(--marker-top);

			&::after {
				animation-delay: var(--animation-delay);
			}
		}

		& .mia {
			--marker-left: 85%;
			--marker-top: 91%;
			--animation-delay: 3.5s;
			left: var(--marker-left);
			top: var(--marker-top);

			&::after {
				animation-delay: var(--animation-delay);
			}
		}

		& .rno {
			--marker-left: 7%;
			--marker-top: 36%;
			--animation-delay: 4s;
			left: var(--marker-left);
			top: var(--marker-top);

			&::after {
				animation-delay: var(--animation-delay);
			}
		}

		& .las {
			--marker-left: 14%;
			--marker-top: 54%;
			--animation-delay: 4.5s;
			left: var(--marker-left);
			top: var(--marker-top);

			&::after {
				animation-delay: var(--animation-delay);
			}
		}

		& .phl {
			--marker-left: 89%;
			--marker-top: 35%;
			--animation-delay: 5s;
			left: var(--marker-left);
			top: var(--marker-top);

			&::after {
				animation-delay: var(--animation-delay);
			}
		}

		& .lax {
			--marker-left: 6%;
			--marker-top: 56%;
			--animation-delay: 5.5s;
			left: var(--marker-left);
			top: var(--marker-top);

			&::after {
				animation-delay: var(--animation-delay);
			}
		}

		& .san {
			--marker-left: 7%;
			--marker-top: 62%;
			--animation-delay: 6s;
			left: var(--marker-left);
			top: var(--marker-top);

			&::after {
				animation-delay: var(--animation-delay);
			}
		}

		& .mxt {
			--marker-left: 9%;
			--marker-top: 65%;
			--animation-delay: 6.5s;
			left: var(--marker-left);
			top: var(--marker-top);

			&::after {
				animation-delay: var(--animation-delay);
			}
		}

		& .mxz {
			--marker-left: 29%;
			--marker-top: 72%;
			--animation-delay: 7s;
			left: var(--marker-left);
			top: var(--marker-top);

			&::after {
				animation-delay: var(--animation-delay);
			}
		}

		& .ric {
			--marker-left: 84%;
			--marker-top: 45%;
			--animation-delay: 7.5s;
			left: var(--marker-left);
			top: var(--marker-top);

			&::after {
				animation-delay: var(--animation-delay);
			}
		}

		& .vab {
			--marker-left: 88%;
			--marker-top: 48%;
			--animation-delay: 8s;
			left: var(--marker-left);
			top: var(--marker-top);

			&::after {
				animation-delay: var(--animation-delay);
			}
		}

	}/* /.map-markers */

	& .map-marker {
		--height: 2em;
		--width: var(--height);
		--margin-top-bottom: -0.5em;
		position: absolute;

		&::after {

			/*
			animation-duration: var(--animation-duration);
			animation-iteration-count: infinite;
			animation-name: pop;
			--margin-top-bottom: -0.5em;
			*/
			animation: var(--animation-duration) infinite pop;
			border-radius: 50%;
			opacity: 0;
			border: 1px solid var(--marker-color);
			content: "";
			height: var(--height);
			width: var(--width);
			position: absolute;
			left: 0;
			top: 0;
			margin: var(--margin-top-bottom) 0 0 var(--margin-top-bottom);
		}

		& a[href="#"] {
			--height: 1em;
			--width: var(--height);

			background-color: var(--marker-color);
			border-radius: 50%;
			height: var(--height);
			display: block;
			text-indent: -9999px;
			width: var(--width);
		}

		/*
		====== UNCOMMENT IF WE WISH LOCATION INFORMATION TO BE VISIBLE ON HOVER MARKER HOVER ====
		 & .map-marker:hover .map-marker-info {
			display: block;
			display: flex;
		}
		*/

	}/* \.map-marker */

	& .map-marker-info {
		--bg-border-color: var(--bg-body-color);
		--marker-width: 300px;

		/* display: none; */
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, -2em);
		width: var(--marker-width);
		z-index: 1200;

		& .inner {
			flex-flow: column nowrap;
			border-radius: 0.5em;
			box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
			font-size: 0.875em;

			/* QUOTE TEPEE */
			&::after {
				border-left: 0.75em solid transparent;
				border-right: 0.75em solid transparent;
				border-top: 1em solid var(--bg-border-color);
				content: "";
				height: 0;
				width: 0;
				position: absolute;
				top: 99%; /* gets rid of the 1px gap */
				left: 50%;
				transform: translateX(-50%); /* places tepee in midle */
			}

			& > div {
				background-color: var(--color-theme-primary);
				border-radius: 0.5em 0.5em 0 0;

				& > h2 {
					font-size: var(--fontsize-s);
					color: var(--has-dark-bg);
					margin-bottom: 0;
					padding: 0.5vw 8px;
					letter-spacing: 1px;
				}
			}/* \.heading */

			& main {
				display: block;
				width: 100%;
				background-color: var(--bg-border-color);
				color: var(--text-color);
				border: 1px solig var(--bg-border-color);
				border-radius: 0 0 0.5em 0.5em;
				padding: 0.5em 1em;

				& > address {
					--fontsize-xs: calc(7px + 0.698vw);

					color: inherit;

					& > span {
						font-size: 0.9em;
						font-size: var(--fontsize-xs);

						&:first-of-type {
							display: block; /* Street Address appears ona  single line */
						}
					}

					& a {
						font-size: var(--fontsize-xs);
					}
				} /* \address */
			} /* \main */

		} /* \.inner */
	}

}/* /#location-map */


/*--------------------------------------------------------------
======================== LOCATION ADDRESS =======================
--------------------------------------------------------------*/
#location-address {
	grid-area: locationaddress;
	background: var(--indigo-600);
	width: 100%;

	& .single_jones_address {

		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 0 2vw;
		min-width: 320px;
		font-size: clamp(var(--fontsize-s), 1.2vw, 38px);

		& h2 {
			font-size: clamp(46px, 2.84vw, 88px);
			color: var(--has-dark-bg);
			max-width: 40%;
		}

		& div {
			max-width: 40%;
		}

		& a {
			color: var(--has-dark-bg);
		}
	}

}



/*--------------------------------------------------------------
END Footer
--------------------------------------------------------------*/
