
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
a[href^="tel:"]::before {
	content: "\2706";
	margin-right: 0.5em;
}

#company-info {
	padding-top: 2vw;
	display: grid;
	background: rgba(40, 80, 120, 0.7);
	backdrop-filter: blur(140px);
	grid-template-rows: 1.5vw, 1.5vw;
	place-items: center center;

	& span {
		padding: 0.5vw 2vw;
		font-size: clamp(20px, 2.2vw, 40px);
		font-family: var(--highlight-font-family);
		align-self: start;

		&:first-of-type {
			font-size: clamp(28px, 4.4vw, 80px);
			font-weight: var(--superbold);
			align-self: end;
			justify-self: start;
			border-bottom: 2px solid var(--color-theme-white);
			padding-bottom: 6px;
		}
	}
}

@media screen and (width > 780px ) {
	#company-info {
		grid-template-columns: 2fr 4fr;
		grid-template-rows: 2.25vw, auto;
		align-self: start;
		padding: 0.5vw 2vw;

		& span {
			grid-column: 2 / -1;
			font-size: clamp(16px, 1.55vw, 50px);
			font-family: var(--highlight-font-family);
			align-self: center;

			&:first-of-type {
				border-bottom: 2px solid transparent;
				grid-column: 1 / 1;
				font-size: clamp(34px, 3.1vw, 60px);
				font-weight: var(--superbold);
				align-self: center;

			}
		}
	}
}


footer {
	margin-top: 140px;
	grid-row: 10 / 12;
	order: 3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto-fit);
	height: 800px;

	& #location_selector {
		align-self: flex-end;
	}

	& .all_locations {
		grid-column: 1 / -1;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: space-between;
		align-content: space-between;
		min-height: 440px;
		max-width: 100%;

		& a {
			margin: 5px 20px;
			color: var(--text-color-dark-bg);
		}
	}
}

/* Jonessign Branch Address as displayed in footer */
.single_jones_address {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0 2vw;
	width: 100%;
	min-width: 280px;

	/* Contains both the address and the phone number */
	& > div {
		padding-left: 2vw;
		text-align: right;
		font-size: clamp(20px, 1.84vw, 48px);
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		border-left: 2px solid var(--footer-text-color);

		/* The phone number is inside a link element */
		& a {
			font-size: clamp(20px, 1.84vw, 48px);
			color: var(--footer-text-color);
			text-decoration: none;
		}
	}

	/* Namf of location - e.g. "Jones Richmond" */
	& h2 {
		color: var(--text-color-dark-bg);
		font-size: clamp(28px, 2.14vw, 48px);
	}

}

span[itemprop="streetAddress"] {
	display: block;
}

#location_selector {
	color: var(--text-color-dark-bg);
	width: 100vw;
	background: var(--color-theme-primary);
	display: grid;
	height: 12vw;
	min-height: 50px;
	grid-column: 1 / -1;
	grid-template-columns: 2fr 6fr;
	align-items: center;
	place-self: flex-end;

	& .dropdown_container {
		grid-column: 1 / 1;
		min-width: 460px;
	}

	& .jones_location_option {
		font-size: 1.4rem;
		font-family: var(--highlight-font-family);
	}

	& #location_addresses {
		grid-column: 2 / -1;
		height: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;
		align-content: space-around;
		color: var(--text-color-dark-bg);
	}

	& .cs_options {
		background: var(--color-theme-primary);

	}
}

/* Rules apply only when page is in a window 48rem - 672 px or larger */

@media screen and (width > 672px) {
	footer {
		font-size: inherit;
	}
}


/*--------------------------------------------------------------
END Footer
--------------------------------------------------------------*/
