
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
a[href^="tel:"]::before {
	content: "\2706";
	margin-right: 0.5em;
}


:root {
	--footer-text-color: var(--color-theme-white);

}

main {
	background: var(--body-bg-color);
	color: var(--global-font-color);
}


footer {
	color: var(--footer-text-color);
	height: 25vh;
	min-height: 800px;
	display: grid;
	order: 3;

	& > div {
		font-family: var(--highlight-font-family);
		padding: 8px 1.8vw;

		& span {
			font-weight: var(--bold);
			font-size: clamp(28px, 3.5vw, 80px);
		}
	}

	& > .about_us span {
		font-size: clamp(20px, 1.85vw, 40px);
	}
}

/* Jonessign Branch Address as displayed in footer */
.single_jones_address {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0 2vw;
	width: 100%;
	min-width: 280px;

	/* Contains both the address and the phone number */
	& > div {
		padding-left: 2vw;
		text-align: right;
		font-size: clamp(20px, 1.84vw, 48px);
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		border-left: 2px solid var(--footer-text-color);

		/* The phone number is inside a link element */
		& a {
			font-size: clamp(20px, 1.84vw, 48px);
			color: var(--footer-text-color);
			text-decoration: none;
		}
	}

	/* Namf of location - e.g. "Jones Richmond" */
	& h2 {
		color: var(--text-color-dark-bg);
		font-size: clamp(28px, 2.14vw, 48px);
	}

}

span[itemprop="streetAddress"] {
	display: block;
}

.site-footer {
	font-size: clamp(20px, 2.3vw, 34px);
	display: grid;
	grid-row: 12;
	color: var(--text-color-dark-bg);
	font-family: var(--highlight-font-family);
	font-stretch: condensed;

	& .site-details,
	& .all_locations {
		grid-column: 1 / -1;
	}

	& .site-info {
		border-bottom: 2px solid var(--blue-700);
		max-width: unset;
		margin: unset;
		padding: 2vw;
		grid-column: 1 / -1;

		& span {
			color: var(--text-color-dark-bg);
			font-weight: var(--bold);
		}
	}

	& .site-details {
		grid-column: 1 / -1;
		padding: 2vw;
	}

	& .all_locations {
		grid-column: 1 / -1;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: space-between;
		align-content: space-between;
		min-height: 440px;
		max-width: 100%;

		& a {
			margin: 5px 20px;
			color: var(--text-color-dark-bg);
		}
	}

}

.location_selection {
	color: var(--text-color-dark-bg);
	width: 100vw;
	background: var(--color-theme-primary);
	display: grid;
	height: 12vw;
	min-height: 50px;
	grid-column: 1 / -1;
	grid-template-columns: 2fr 6fr;
	align-items: center;
	place-self: flex-end;

	& .dropdown_container {
		grid-column: 1 / 1;
		min-width: 460px;
	}

	& .jones_location_option {
		font-size: 1.4rem;
		font-family: var(--highlight-font-family);
	}

	& #location_addresses {
		grid-column: 2 / -1;
		height: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;
		align-content: space-around;
		color: var(--text-color-dark-bg);
	}

	& .cs_options {
		background: var(--color-theme-primary);

	}
}

/* Rules apply only when page is in a window 48rem - 672 px or larger */

@media screen and (width > 672px) {
	footer {
		font-size: inherit;
	}
}

/*--------------------------------------------------------------
END Footer
--------------------------------------------------------------*/
