/* Forms
  ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

form {
	--border-color-one: var(--gray-400);
	--border-color-two: var(--gray-500);
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
 */

button,
input {
	overflow: visible; /* 1 */
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
	text-transform: none; /* 1 */
}

/**
  * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
  * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
/* stylelint-disable */
::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}
/* stylelint-enable */

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* stylelint-disable */
textarea {
	width: 100%;
	overflow: auto;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	-webkit-appearance: button;
	border: 1px solid;
	border-color: var(--border-color-one) var(--border-color-one) var(--border-color-two);
	border-radius: 3px;
	background: var(--gray-300);
	color: rgba(0, 0, 0, 0.8);
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	cursor: pointer;
}
/* stylelint-enable */

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: var(--border-color-one) var(--border-color-one) var(--border-color-two);
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: var(--field-focus-text-color);
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: var(--field-focus-text-color);
}

select {
	border: 1px solid #ccc;
}

.contact-form-section {
	position: relative;
	height: 0;
	background: var(--teal-200);
}

.contact-form-container {
	position: relative;
	width: 540px;
	padding: 2vw;
	height: 440px;
}

input#contact_form_button {
	text-transform: uppercase;
	background: var(--color-theme-primary);
	color: var(--has-dark-bg);
	font-weight: var(--bold);
	position: absolute;
	margin-top: 2vw;
	font-size: var(--fontsize-m);
	right: 2vw;
}

form#contact {
	& > div {
		padding-top: 18px;
	}

}


/**
 * Autogrowing the text area.
 * @link https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/
 */

.grow-wrap {

	/* Allows us to plop elements on top of one another and have them both sized based on the tallest one's height */
	display: grid;

	&::after {

		/* weird space in content attribute is to prevent jumpy behavior */
		content: attr(data-replicated-value) " ";

		/* Replicate how textarea text behaves */
		white-space: pre-wrap;

		/* Hidden from view, clicks, and screen readers */
		visibility: hidden;
	}

	& > textarea {

		/* One could leave this, but after a user resizes, then it ruins the auto sizing */
		resize: none;

		/* Firefox shows scrollbar on growth, so here we hide it like this. */
		overflow: hidden;
	}

	&::after,
	& > textarea {

		/* Identical styling required!! */
		border: 1px solid var(--gray-800);
		padding: 0.5rem;
		font: inherit;

		/* Place on top of each other */
		grid-area: 1 / 1 / 1 / 1;
	}
}/* \.grow-wrap */

.input_field_container {
	display: grid;
	grid-template-columns: minmax(110px, 30%) 3fr;

	& label {
		text-transform: uppercase;
	}
}

/* Great Forms Snippets 07_04_search_snippets.txt -- edited to retail snale case --- stops at line 93*/
#search_wrap {

	--accent-color: var(--blue-600);
	width: 50%;
	margin: 0 auto 1em;

	& #search_form {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 1s;
		width: 50px;
		height: 50px;
		background: var(--accent-color);
		box-sizing: border-box;
		border-radius: 25px;
		border: 4px solid #fff;
		padding: 5px;

		&:hover {
			width: 80%;
			cursor: pointer;

			& input {
				display: block;
				border: solid 3px var(--accent-color);
			}

			& .search_icon {
				background: var(--accent-color);
				color: #fff;

				&::before {
					font-family: serif;
					content: "\2191"; /* up arrow */
					transform: rotate(90deg); /* up arrow is now right facing arrow */
				}
			}
		}

		& input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 42.5px;
			line-height: 0.7;
			outline: 0;
			border: 0;
			display: none;
			font-size: 1em;
			border-radius: 20px;
			padding: 0 20px;
			-moz-appearance: none;/* older firefox */
			-webkit-appearance: none; /* safari, chrome, edge and ie mobile */
			appearance: none;
		}
	} /* \#search_form */


	& .search {
		width: 100%;
		position: relative;
		display: flex;
	}

	& .search_term {
		width: 100%;
		border: 3px solid var(--accent-color);
		border-right: none;
		padding: 5px;
		height: 36px;
		border-radius: 5px 0 0 5px;
		outline: none;
		color: #9dbfaf;
		-moz-appearance: none;/* older firefox */
		-webkit-appearance: none; /* safari, chrome, edge and ie mobile */
		appearance: none;

		&:focus {
			color: #70c5b5;
		}
	} /* \.search_term */


	& .search_button {
		width: 40px;
		height: 36px;
		border: 1px solid var(--accent-color);
		background: var(--accent-color);
		text-align: center;
		color: #fff;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		font-size: 20px;

		&:focus {
			outline: 0;
		}
	} /* \.search_button */

	& .search_icon {
		box-sizing: border-box;
		padding: 10px;
		width: 42.5px;
		height: 42.5px;
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 50%;
		color: #fff;
		text-align: center;
		font-size: 1.2em;
		transition: all 1s;
		cursor: pointer;

		&::before {
			content: "\ea27"; /*magnifying glass */
			font-weight: 900;
		}
	}


}

@media screen and (min-width: 460px) {
	#search_form:hover {
		width: 290px; /* at larger screen will accomodate a longer query (roughly 27 characters)*/
	}
}
