/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header {
	border-bottom: 9px solid var(--yellow-600);
	background: var(--header-gradient);

	& #connect {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
	}

	& #branding {
		margin: 1vmin;

		/*Need both a display property of inline-block anda width to ensure svg stays 100% of the containing element*/
		& > a.svg_hyperlink {
			text-decoration: none;
			display: inline-block;
			width: clamp(40px, 8vmin, 160px);
			transform: scale(0.9);
			transition: transform 0.7s ease-in;

			&:hover {
				transform: scale(1.1);
				transition: transform 0.4s var(--transition-timing-function);
			}

			& > svg {
				width: 100%;

				& > circle {
					fill: var(--logo-background);
					transition: fill 0.4s ease-in;
				}

				& > path {
					fill: var(--logo-foreground);
					transition: fill 0.4s ease-in;
				}
			}
		}

		& > a.svg_hyperlink:hover > svg {
			--logo-background: var(--blue);
			--logo-foreground: var(--gray-100);


			& > circle {
				fill: var(--logo-background);
				transition: fill 0.4s ease-in;
			}

			& > path {
				fill: var(--logo-foreground);
				transition: fill 0.4s ease-in;
			}
		}
	}

	& #connect {
		color: var(--foreground);

		& a[class^="material-icons"] {

			--timing-function: var(--reverse-timing-function);
			--border-thickness: 4px;
			--scale: scale(0.8);
			color: inherit;
			font-size: calc(1.3 * var(--fontsize-xl));
			background: var(--blue-600);
			padding: 2rem;
			border: var(--border-thickness) solid var(--foreground);
			border-radius: 50%;
			transition: all 0.3s var(--timing-function);
			transform: var(--scale);

			&:hover,
			&:focus {
				--scale: scale(1.1);
				--border-thickness: 8px;
				--timing-function: var(--transition-timing-function);
			}

			&:active {
				background: var(--blue-900);
			}

			&:visited {
				background: var(--gray-500);
			}

			&:hover {
				background: var(--blue-500);
			}

		}
	}

	& > .main-navigation {
		background: var(--green-600);
		justify-content: flex-end;
		align-items: flex-end;
	}
}

.header-image {
	margin: 0 auto;

	& img {
		display: block;
		margin: 0 auto;
	}
}

.custom-logo-link {
	display: inline-block;
	margin: 0 auto 1em;
}

.site-title {
	margin: 0 auto;
	font-family: var(--highlight-font-family);
	color: var(--gray-600);

	& a {
		font-size: var(--fontsize-m);
		text-decoration: none;
		color: inherit;

		&:visited {
			color: inherit;
		}
	}
}

.site-description {
	margin: 0.4375em 0 0;
	font-family: var(--highlight-font-family);
	font-size: var(--fontsize-s);
	font-weight: inherit;
	word-wrap: break-word;
	color: var(--foreground);
}

/*--------------------------------------------------------------
## HEADER MENU
--------------------------------------------------------------*/

nav#site-navigation {
	--flex-flow: column nowrap;
	--justify-content: center;
	--align-items: flex-start;
	--color-link: var(--foreground);
	--color-link-visited: var(--color-link);
	--color-link-active: var(--color-link);
	--menu-item-fontsize: var(--fontsize-xxs);

	grid-area: headermenu;
	display: flex;
	flex-flow: var(--flex-flow);
	justify-content: flex-end;

	& > ul {
		width: 100%;
		list-style: none;
		display: flex;
		flex-flow: var(--flex-flow);
		justify-content: var(--justify-content);
		align-items: var(--align-items);
		align-content: flex-start;
		padding-right: 1vw;

		& li {
			padding-right: 0.85vw;
		}
	}

	& .menu-item > a {
		margin-right: 0.5vw;
		color: var(--color-link);
		font-family: var(--global-font-family);
		font-size: var(--menu-item-fontsize);
		font-weight: var(--semibold);

		&:focus,
		&:hover,
		&:active {
			color: var(--color-link-active);
		}

		&:visited {
			color: var(--color-link-visited);
		}


	}
}

/* greater than 37.5em or 525px */

@media screen and (width > 525px) {
	nav#site-navigation {
		--justify-content: flex-end;
		--flex-flow: row wrap;
		--align-items: center;

	}
}

/* \@media screen and (width > 525px) */

