/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
	background: var(--color-theme-primary);
	padding-bottom: 1em;
	order: 1;
}

.custom-logo-link {
	display: inline-block;
	margin: 0 auto 1em;
}

.site-branding {
	text-align: center;
	padding: 60px 0 1.75em;
}

.site-title {
	margin: 0 1em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 38px;
	font-weight: 700;
	line-height: 1.2;
	color: #333332;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: 0.4375em 0 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/
.nav--toggle-small .menu-toggle {
	display: block;
	margin: 1.2em auto;
	padding: 0.6em 1.2em 0.5em;
	font-family: var(--global-font-family);
	font-stretch: normal;
	letter-spacing: 0.2em;
	font-size: 80%;
	text-transform: uppercase;
	border: 2px solid #000;
	border-radius: 0;
	background: transparent;

	&.light {
		color: var(--color-theme-white);
		border-color: var(--color-theme-white);
		height: 40px;
	}

}

.nav--toggle-small .menu {
	display: none;
}

.nav--toggle-sub .dropdown,
.nav--toggle-sub .dropdown-toggle {
	display: none;
}

/* Styles only appear on screens smaller than 525px */

@media screen and (width < 525px) {

	.nav--toggle-small.nav--toggled-on .menu {
		display: block;
	}
}

/* 37.5 rem or 525 px at minimum ) */

@media screen and (width > 525px) {

	.nav--toggle-small .menu-toggle {
		display: none;
	}

	.nav--toggle-small .menu {
		display: block;
	}

	.nav--toggle-sub ul ul {
		display: none;
		position: absolute;
		top: 100%;
		flex-direction: column;
		background: #fff;
		margin-left: 0;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}

	.nav--toggle-sub .dropdown,
	.nav--toggle-sub .dropdown-toggle {
		display: block;
		background: transparent;
		position: absolute;
		right: 0;
		top: 50%;
		width: var(--dropdown-symbol-width);
		height: var(--dropdown-symbol-width);
		font-size: inherit;
		line-height: inherit;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0;
		transform: translateY(-50%);
		overflow: visible;
	}

	.nav--toggle-sub .dropdown-symbol {
		display: block;
		background: transparent;
		position: absolute;
		right: 20%;
		top: 35%;
		width: 60%;
		height: 60%;
		border: solid #000;
		border-width: 0 2px 2px 0;
		transform: translateY(-50%) rotate(45deg);
	}

	.nav--toggle-sub ul ul .dropdown,
	.nav--toggle-sub ul ul .dropdown-toggle {
		top: 40%;
		right: 0.2em;
	}

	.nav--toggle-sub ul ul .dropdown-symbol {
		transform: rotate(-45deg);
	}

	.nav--toggle-sub .dropdown-toggle:hover,
	.nav--toggle-sub .menu-item--has-toggle:hover .dropdown-toggle {
		pointer-events: none;
	}

	/* Need menu-item-has-children for non-JS */
	.nav--toggle-sub li.menu-item-has-children,
	.nav--toggle-sub li.menu-item--has-toggle {
		position: relative;
		padding-right: var(--dropdown-symbol-width);
	}

	/*
	 * If the dropdown toggle is active with JS, then
	 * we'll take care of showing the submenu with JS.
	 */
	.nav--toggle-sub li:hover > ul,
	.nav--toggle-sub li.menu-item--toggled-on > ul,
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus > ul {
		display: block;
	}

	/*
	 * "focus-within" is an alternative to focus class for
	 * supporting browsers (all but IE/Edge) for no-JS context
	 * (e.g. AMP) See https://caniuse.com/#feat=css-focus-within
	 *
	 * This selector needs to stay separated, otherwise submenus
	 * will not be displayed with IE/Edge.
	 */
	.nav--toggle-sub li:not(.menu-item--has-toggle):focus-within > ul {
		display: block;
	}

}

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	margin: 0 auto 2em;
	padding: 0 1em;
	max-width: var(--content-width);
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

.main-navigation a {
	display: block;
	width: 100%;
	padding: 0.5em 1em 0.5em 0;
	text-decoration: none;
	color: #000;
}

.main-navigation a:hover,
.main-navigation a:focus {
	text-decoration: underline;
}

.dark_background {
	color: var(--color-theme-white);

	& li {
		color: inherit;

		& a {
			color: var(--color-theme-white);

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
}

.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul ul li {
	padding-left: 1em;
}

/* greater than 37.5em or 525px */

@media screen and (width > 525px) {

	.main-navigation ul li a {
		padding: 0.4em 0.5em;
	}

	.main-navigation ul li {
		margin: 0 0 0 0.5em;
	}

	.main-navigation ul li:first-child {
		margin-left: 0;
	}

	.main-navigation ul ul a {
		width: 200px;
	}

	/* stylelint-disable */
	.main-navigation ul ul li {
		padding-left: 0;
		margin-left: 0;
	}
	/* stylelint-enable */

	.main-navigation ul ul li a {
		width: 218px;
		background: none;
	}

	.main-navigation ul ul ul {
		top: 0;
		left: 100%;
		min-height: 100%;
	}

	.main-navigation .menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	ul.dark_background {
		color: var(--color-theme-white);
		display: flex;
		flex-flow: row nowrap;

	}
}


.toggle_menu_div {
	--total-length: 126.64183044433594;
	--length: 24;
	--offset: -38;
	background: transparent;

	& input {
		display: none;
	}

	& label {
		border: 2px soolid var(--yellow-600);
		display: block;
		cursor: pointer;
		position: absolute;
		max-width: 150px;
		max-height: 150px;
	}

	& path {
		fill: none;
		stroke: var(--color-theme-white);
		stroke-width: 3;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-dasharray: var(--length) var(--total-length);
		stroke-dashoffset: var(--offset);
		transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	& input:checked + svg .line--1,
	& input:checked + svg .line--3 {
		--length: 22.627416998;
	}

	& input:checked + svg .line--2 {
		--length: 0;
	}

	& .line--1,
	& .line--3 {
		--total-length: 126.64183044433594;
	}

	& circle {
		fill: var(--red-600);
		opacity: 0.5;
	}

	& label:hover circle {
		opacity: 1;
	}
}

.back input:checked + svg .line--1,
.back input:checked + svg .line--3 {
	--length: 8.602325267;
}

.menu--1 .line--1,
.menu--1 .line--3 {
	--total-length: 126.64183044433594;
}

.menu--1 .line--2 {
	--total-length: 70;
}

.menu--1 input:checked + svg .line--1,
.menu--1 input:checked + svg .line--3 {
	--offset: -94.1149185097;
}

.menu--1 input:checked + svg .line--2 {
	--offset: -50;
}
