/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

a {
	color: var(--color-link);

	/**
	* Remove the gray background on active links in IE 10.
	*/
	background-color: transparent;

	&:visited {
		color: var(--color-link-visited);
	}

	&:focus {
		outline: thin dotted;
	}

	&:focus,
	&:hover,
	&:active {
		color: var(--color-link-active);
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
