
@media screen and (min-width: 700px) {
	:root {
		--facilities-section-height: 380px;
		--pin-size: var(--fontsize-s);

		--grb-left: 61%;
		--grb-top: 15%;

		--msp-left: 52%;
		--msp-top: 13%;

		--tpa-left: 79%;
		--tpa-top: 80%;

		--mia-left: 82%;
		--mia-top: 83%;

		--rno-left: 5%;
		--rno-top: 32%;

		--las-left: 12%;
		--las-top: 45%;

		--phl-left: 86%;
		--phl-top: 35%;

		--lax-left: 6%;
		--lax-top: 50%;

		--san-left: 8%;
		--san-top: 58%;

		--mxt-left: 14%;
		--mxt-top: 61%;

		--mxz-left: 27%;
		--mxz-top: 63%;

		--ric-left: 84%;
		--ric-top: 40%;

		--vab-left: 88%;
		--vab-top: 43%;
	}
}
@media screen and (max-width: 699px) {
	:root {

		--pin-size: var(--fontsize-xs);
		--grb-left: 63%;
		--grb-top: 17%;
		--msp-left: 53%;
		--msp-top: 14%;
		--tpa-left: 79%;
		--tpa-top: 82%;
		--mia-left: 84%;
		--mia-top: 86%;
		--rno-left: 5%;
		--rno-top: 32%;
		--las-left: 12%;
		--las-top: 47%;
		--phl-left: 86%;
		--phl-top: 35%;
		--lax-left: 6%;
		--lax-top: 53%;
		--san-left: 9%;
		--san-top: 60%;
		--mxt-left: 11%;
		--mxt-top: 63%;
		--mxz-left: 27%;
		--mxz-top: 67%;
		--ric-left: 84%;
		--ric-top: 40%;
		--vab-left: 88%;
		--vab-top: 43%;
	}
}

#jones-facility-locations {
	--locations-height: 440px;
	--facilities-section-grid-layout:
		"facilities_header"
		"facilities_map"
		"facilities_information";
	--locations-background: var(--gray-200);
	--map-m-top: 0;
	--location-pins-color: var(--yellow-600);
	--perforated: true;
	background: var(--blue-gradient);
	width: 100%;
	height: var(--locations-height);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 40px, 600px, 40px;
	grid-template-areas: var(--facilities-section-grid-layout);

	& svg#usa {
		height: auto;
		max-width: var(--map-max-width);
	}

	& .state {
		fill: var(--blue-800);
		stroke: var(--gray-400);
		stroke-width: var(--state-stroke-width);
	}

	& .map {
		margin-top: var(--map-m-top);
		position: relative;
		width: clamp(280px, 34vw, 840px);
	}
}

.jones_facility_pins {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	transform-origin: bottom center;

	& > .material-icons {
		position: absolute;
		color: var(--location-pins-color);
		transform-origin: center bottom;
		font-size: var(--pin-size);
		transition: all 1.2s 1s var(--reverse-timing-function);
		-webkit-text-stroke: 1px var(--gray-500);
		will-change: transform;

		&:visited {
			color: var(--location-pins-color:);
			outline: unset;
		}

		&:active {
			color: var(--background);
			transform: scale(2.3);
		}

		&:hover,
		&:focus {
			transform: scale(2.3);
			transition: all 0.4s var(--transition-timing-function);
			outline: unset;
		}
	}

	& .grb,
	& .nat {
		left: var(--grb-left);
		top: var(--grb-top);
		&::after {
			animation-delay: var(--animation-delay);
		}
	}

	& .msp {
		--animation-delay: 2.5s;
		left: var(--msp-left);
		top: var(--msp-top);

		&::after {
			animation-delay: var(--animation-delay);
		}
	}

	& .tpa {
		--animation-delay: 3s;
		left: var(--tpa-left);
		top: var(--tpa-top);

		&::after {
			animation-delay: var(--animation-delay);
		}
	}

	& .mia {
		--animation-delay: 3.5s;
		left: var(--mia-left);
		top: var(--mia-top);

		&::after {
			animation-delay: var(--animation-delay);
		}
	}

	& .rno {
		--animation-delay: 4s;
		left: var(--rno-left);
		top: var(--rno-top);

		&::after {
			animation-delay: var(--animation-delay);
		}
	}

	& .las {
		--animation-delay: 4.5s;
		left: var(--las-left);
		top: var(--las-top);

		&::after {
			animation-delay: var(--animation-delay);
		}
	}

	& .phl {
		--animation-delay: 5s;
		left: var(--phl-left);
		top: var(--phl-top);

		&::after {
			animation-delay: var(--animation-delay);
		}
	}

	& .lax {
		--animation-delay: 5.5s;
		left: var(--lax-left);
		top: var(--lax-top);

		&::after {
			animation-delay: var(--animation-delay);
		}
	}

	& .san {
		--animation-delay: 6s;
		left: var(--san-left);
		top: var(--san-top);

		&::after {
			animation-delay: var(--animation-delay);
		}
	}

	& .mxt {
		--animation-delay: 6.5s;
		left: var(--mxt-left);
		top: var(--mxt-top);

		&::after {
			animation-delay: var(--animation-delay);
		}
	}

	& .mxz {
		--animation-delay: 7s;
		left: var(--mxz-left);
		top: var(--mxz-top);

		&::after {
			animation-delay: var(--animation-delay);
		}
	}

	& .ric {
		--animation-delay: 7.5s;
		left: var(--ric-left);
		top: var(--ric-top);

		&::after {
			animation-delay: var(--animation-delay);
		}
	}

	& .vab {
		--animation-delay: 8s;
		left: var(--vab-left);
		top: var(--vab-top);

		&::after {
			animation-delay: var(--animation-delay);
		}
	}

}/* /.map-markers */

.facilities_map {
	place-self: center center;
}

.facilities_information {

	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;

}

.facilities_header {
	place-self: center center;
	color: var(--foreground);
}


#single-facility-information {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-end;
	width: 100%;

	&.remove {
		display: none;
	}

	& > a {
		font-size: var(--fontsize-xl);
		color: var(--foreground);

		&:hover,
		&:focus,
		&:visited,
		&:active {
			color: var(--foreground);
		}
	}

}
