#safetydata,
.horizontal-form {
	display: grid;
	color: var(--foreground);
	font-size: var(--fontsize-m);

	& div {
		font-size: inherit;
	}
}

#safetydata {
	min-height: 600px;
	min-width: 100%;
	background: var(--wesbos-gradient);

}

.horizontal-form {
	height: 150px;
	min-width: 80vw;
	padding-bottom: 1vw;
	border-bottom: 1px solid var(--yellow-700);
	justify-items: start;
	align-items: flex-start;
	grid-template-columns: repeat (2, 1fr) 100px;
	grid-template-rows: 140px;
	grid-template-areas: "incident location submit";
}

