/*--------------------------------------------------------------
# Tutorial from https://cdpn.io/nickmortensen/debug/bGepRww
--------------------------------------------------------------*/

:root {

	--blendMode: normal;
	--easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
	--duration: 0.6s;
	--flexflow: column nowrap;
	--iconmenu-top: 15px;
}

@media screen and (max-width: 599px) {
	:root {
		--flexflow: column nowrap;

	}

	aside#sidemenu {
		--sidemenu-width: 90%;
		--sidemenu-width: 320px;
	}
}
@media screen and (min-width: 600px) {
	:root {
		--flexflow: row nowrap;
	}

	aside#sidemenu {
		--sidemenu-width: 90%;
	}
}


aside#sidemenu {
	mix-blend-mode: var(--blendMode);
	background: var(--color-theme-primary);
	width: var(--sidemenu-width);
	position: relative;
	z-index: 10;
	transition: transform 0.3s var(--alternate-bezier-transition);

	& > a#close-sidemenu {
		position: sticky;
		top: 8px;
		left: 60%;
	}

	& > nav {
		position: sticky;
		color: var(--foreground);
		top: 15vh;
		left: 0;
		display: flex;
		flex-flow: column nowrap;
		min-width: 100%;
		min-height: 70vh;
		padding-left: 1vw;

		& > a,
		& > h4 {
			font-family: var(--highlight-font-family);
			font-size: var(--fontsize-xs);
			color: var(--foreground);
		}

		& > a {
			text-decoration: none;
			margin-top: 0.6rem;
		}
	}

	/*--------------------------------------------------------------
# Tutorial from https://cdpn.io/nickmortensen/debug/bGepRww
--------------------------------------------------------------*/
	/* these are styles to make it pretty */
	/* sidenav.css has all the layout, state and functionality */

	nav {
		display: inline-flex;
		flex-direction: column;
		padding: 2rem;
		font-size: 1.25rem;
		color: var(--text);


		& > h4 {
			text-transform: uppercase;

			&:not(:first-child) {
				margin-block-start: 2rem;
			}
		}

		& a {
			text-decoration: none;
			line-height: 1.25;
		}
	} /* end nav */
}

/* end #sidenav */


.floating-navigation-buttons {
	z-index: 1000;
	position: fixed;
	top: 30px;
	right: 0;
	display: flex;
	flex-flow: var(--flexflow);
	width: auto;
	justify-content: flex-start;
	align-items: flex-end;
	border-left: 2px solid var(--gray-300);
	height: 100%;
}

