/* how to display an SVG */

.wp-admin img[src*=".svg"] {
	width: 60%;
	height: auto;
	background: rgba(0, 0, 0, 0.05);
	padding: 0.4vmin;
	border-radius: 50%;
	border: var(--gray-300) solid 1px;
}

svg#jones_logo {
	fill: var(--logotype-textfill);
}

.jonessign {
	fill: var(--logotype-textfill);
}

svg > path.tagline {
	display: var(--logotype-tagline-display);
}
