/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/* stylelint-disable */
body,
button,
input,
select,
optgroup,
textarea {
	color: var(--global-font-color);
	font-family: var(--global-font-family);
	font-size: var(--global-font-size);
	line-height: var(--global-font-line-height);
}
/* stylelint-enable */

p {
	font-size: 1.7rem;
	margin-top: 1.9rem;
	font-weight: var(--hairline);
	color: var(--paragraph-color);
	line-height: 1.4;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--highlight-font-family), sans-serif;
	letter-spacing: var(--h1-letter-spacing);
	clear: both;
	font-weight: var(--medium);
}

.entry-header h1.entry-title,
.page-header .page-title {
	font-size: 2.5rem;
	line-height: 1.4;
	margin-top: 1em;
	margin-bottom: 1em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

.entry-content > blockquote {
	padding-left: 1em;
	margin-left: 1.5rem;
}

@media (--content-query) {

	.entry-content > blockquote {
		margin-left: auto;
	}
}

blockquote,
q {
	quotes: "" "";
}

blockquote {
	border-left: 4px solid var(--color-quote-border);
	margin: 0;
}

blockquote cite {
	color: var(--color-quote-citation);
	font-size: 13px;
	margin-top: 1em;
	position: relative;
	font-style: normal;
}

address {
	margin: 0 0 1.5em;
}


abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}
