/* ================================
	convert to postcss
===================================*/

/**
 * Contact Form
 */

@media screen and (max-width: 799px) {
	#contact {
		--grid-area: maincontact;
		--register-width: 70vw;
		--contact-area-height: 580px;
		--incorrect: var(--red-700);
		--items-width: 100%;
		--previous-width: var(--items-width);
		--next-width: var(--items-width);
		--input-container-width: var(--items-width);
		--previous-button-height: 30px;
		--input-container-height: 150px;
		--error-text-height: 40px;
		--register-width: 90vw;
		--register-width-transition: width 0.3s ease-in;
	}
}
@media screen and (min-width: 800px) {
	#contact {
		--contact-area-height: 580px;
		--grid-area: maincontact;
		--register-width: 50vw;
		--register-div-height: 160px;
		--register-width-transition: width 0.6s var(--transition-timing-function);
	}
}

#contact {
	--progress-transition-function: cubic-bezier(0, 1.35, 0.47, 1.11);
	--lightest: var(--foreground);
	--contact-area-height: 580px;
	--icbg: var(--indigo-200);
	--section-bg: var(--color-theme-primary);
	--progress-bg: var(--blue-800);

	--section-height: 580px;
	--form-background: var(--foreground);
	--single-field-width: clamp(380px, 75vw, 900px);
	--input-text-size: clamp(12px, 2vw, 32px);
	--container-left-padding: 30px;
	--box-shadow:
		0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12),
		0 8px 10px -5px rgba(0, 0, 0, 0.3);
	--general-color: var(--color-theme-primary);
	--input-field-height: 250px;
	--icon-color: var(--gray-400);
	--incorrect: var(--red-700);
	--icon-hover-color: var(--progress-bg);
	--forward-hover-bg: var(--progress-bg);
	--global-line-height: 1;
}

.contact-form-style1 {
	grid-area: maincontact;
	overflow-x: hidden;
	background: var(--section-bg);
	position: relative;
	height: var(--section-height);
	z-index: 1;

	& h1 {
		position: relative;
		color: var(--foreground);
		opacity: 0;
		transition: 0.8s ease-in-out;
	}

	& #progress {
		z-index: 1;
		position: absolute;
		left: 0;
		min-height: 100%;
		width: 0;
		background: var(--progress-bg);
		transition: width 0.3s var(--progress-transition-function);
	} /* \#progress */

	& div.center {
		position: relative;
		z-index: 2;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		& div#register {
			background: var(--foreground);
			position: relative;
			width: var(--register-width);
			height: 100px;
			box-shadow: var(--box-shadow);
			transition: transform 0.1s ease-in-out;

			&.close {
				width: 0;
				padding: 0;
				overflow: hidden;
				transition: 0.8s ease-in-out;
				box-shadow: 0 16px 24px rgba(0, 0, 0, 0);
			}

			&.close #forwardButton,
			&.close #previousButton {
				color: var(--foreground);
			}

			& #previousButton,
			& #forwardButton {
				color: var(--global-font-color);
				position: absolute;
				cursor: pointer;
				float: right;
				font-size: 40px;
				z-index: 4;

				&:hover {
					color: var(--icon-hover-color);
				}
			}

			& #forwardButton {
				right: 20px;
				bottom: 10px;
			}

			& #previousButton {
				font-size: 18px;
				left: 30px;
				top: 12px;
			}

			&.wrong #forwardButton {
				color: var(--incorrect);
			}

			&.wrong div#inputContainer > #inputProgress {
				--progress-border-color: var(--incorrect);
				color: var(--incorrect);
				font-size: 12px;
				border-top: 3px solid var(--incorrect);
			}

			& div#inputContainer {
				position: relative;
				padding: 12px 20px 20px 20px;
				margin: 5px 60px 10px 10px;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;

				& input {
					position: relative;
					width: 100%;
					border: none;
					font-size: 20px;
					font-weight: var(--bold);
					outline: 0;
					background: transparent;
					box-shadow: none;
					border-radius: 0;
					padding: 0 0 0 0;
					top: 8px;
				}

				& > #inputLabel {
					position: absolute;
					pointer-events: none;
					top: 34px;
					left: 20px;
					font-size: 20px;
					font-weight: var(--bold);
					transition: all 0.2s ease-in-out;
				}

				& input:valid + #inputLabel {
					top: 8px;
					left: 42px;
					margin-left: 0 !important;
					font-size: 12px;
					font-weight: var(--lightest);
					color: var(--gray-400);
				}

				& > #inputProgress {
					border-top: 3px solid #0273b9;
					width: 0;
					transition: width 0.6s ease-in-out;
					font-size: 0;
					text-align: right;
					font-style: italic;
					color: transparent;
				} /* \ #inputProgress */

			}/* \div#inputContainer */

		} /* \#register */
	} /* \div.center */

} /* \#contact */


.close-acknowledgement {
	text-decoration: none;
	font-size: var(--fontsize-xl);
	position: absolute;
	right: 50%;
	top: 140px;
	transition: all 0.3s var(--reverse-timing-function);
	transform-origin: center center;
	text-shadow: none;

	&:hover,
	&:focus {
		color: var(--foreground);
		transform: scale(1.2) rotateZ(210deg);
		transition: all 0.9s var(--transition-timing-function);
	}

	&:active {
		text-shadow: 2px 1px 3px var(--foreground);
	}
} /* .close-acknowledgement */


h1.acknowledgement {
	font-size: clamp(28px, 4vmin, 60px);
}


#closeContactArea {
	color: var(--foreground);
	align-self: flex-start;
}

/* END CONTACT postcss */

/* ================================
	.contact-form-style2;
===================================*/
@media screen and (max-width: 540px) {
	#contact-two {
		--contact-two-columns: 1fr 8fr 1fr;
		--contact-two-rows: 1fr 120px 1fr;
		--contact-two-grid-template-areas:
			"c2top c2top c2top"
			"c2left c2form c2right"
			"c2bottom c2bottom c2bottom";
		--register-grid-template-columns: 20px 1fr clamp(30px, 12vw, 80px);
		--register-grid-template-rows: 30px 1fr;
		--register-grid-areas:
			"c2top c2top c2top"
			"c2rblank c2rcontent c2rfwd";
		--register-width: clamp(400px, 90vw, 520px);
	}
}
@media screen and (min-width: 1001px) {
	#contact-two {
		--contact-two-columns: 1fr 8fr 1fr;
		--contact-two-rows: 1fr 120px 1fr;
		--contact-two-grid-template-areas:
			"c2top c2top c2top"
			"c2left c2form c2right"
			"c2bottom c2bottom c2bottom";
		--register-width: clamp(400px, 60vw, 900px);
		--register-grid-template-columns: 20px 1fr clamp(40px, 10vw, 140px);
		--register-grid-template-rows: 30px 1fr;
		--register-grid-areas:
			"c2rblank c2rback c2rfwd"
			"c2rblank c2rcontent c2rfwd";
	}
}

#contact-two {
	--progress-transition-function: cubic-bezier(0.47, 1.6, 0.36, 1);
	--input-progress-color: transparent;
	font-size: unset;
	--label-bg: var(--red);
	--input-bg: var(--green);
	--incorrect: var(--red-700);
	--icon-color: var(--blue);
	--contact-section-bg: var(--blue);
	--contact-section-height: 440px;
	--register-height: 140px;
	--register-width: clamp(400px, 80vw, 900px);
	--register-grid-template-columns: 20px 1fr clamp(40px, 10vw, 140px);
	--register-grid-template-rows: 30px 1fr;
	--register-grid-areas:
		"c2rblank c2rback c2rfwd"
		"c2rblank c2rcontent c2rfwd";
	grid-area: fpmaincontact;
	position: relative;
	display: grid;
	grid-template-columns: var(--contact-two-columns);
	grid-template-rows: var(--contact-two-rows);
	grid-template-areas: var(--contact-two-grid-template-areas);
	place-items: center;
}

.contact-form-style2 {
	overflow-x: hidden;
	background: var(--contact-section-bg);
	height: var(--contact-section-height);

	& #progress {
		grid-area: fpmaincontact;
		position: absolute;
		z-index: 1;
		background: var(--blue-900);
		height: 100%;
		left: 0;
		top: 0;
		min-width: 10%;
		transition: width 0.9s var(--progress-transition-function);
	} /*  \#progress */

	& .center {
		position: absolute;
		z-index: 2;

		& #register {
			font-size: 10px;

			/*
		--register-height: 140px;
		--register-width: clamp(400px, 60vw, 900px);
		--register-grid-template-columns: 20px 5fr 1fr;
		--register-grid-template-rows: 20px 1fr;
		--register-grid-areas:
			"c2rblank c2rback c2rfwd"
			"c2rblank c2rcontent c2rfwd";
*/
			position: relative;
			overflow: hidden;
			grid-area: c2form;
			display: grid;
			grid-template-columns: var(--register-grid-template-columns);
			grid-template-rows: var(--register-grid-template-rows);
			grid-template-areas: var(--register-grid-areas);
			background: var(--foreground);
			box-shadow: var(--contact-form-shadow);
			height: var(--register-height);
			width: var(--register-width);

			/* This makes the jitter animation in an invalid input a bit more smooth*/
			transition:
				transform 0.1s ease-in-out,
				-webkit-transform 0.1s ease-in-out;

			&.wrong {
				--icon-color: var(--incorrect);
				--input-progress-color: var(--incorrect);

			}

			& #inputContainer {
				grid-area: c2rcontent;
				display: grid;
				grid-template-rows: 60px 1fr;
				grid-template-areas:
					"c2icfield"
					"c2ichelper";
				opacity: 0;
				transition: opacity 0.3s ease-in-out;

				& > label {
					color: var(--field-focus-text-color);
					grid-area: c2icfield;
					transition: all 0.5s var(--transition-timing-function);
					padding-left: 4px;
					align-self: flex-end;
				}
				& > input {
					background: transparent;
					color: var(--field-focus-text-color);

					grid-area: c2icfield;
					border: none;
					box-shadow: none;
					border-radius: 0;
					outline: 0;
					max-height: 5rem;
					transform: translate(0, 0.3rem);
				}

				& input:valid + label {
					font-size: 1.4rem;
					transform: translate(1.4rem, -3.5rem);
					transition: all 0.5s var(--transition-timing-function);
				}

				& #inputProgress {
					width: 0;
					transition: width 0.6s ease-in-out;
					grid-area: c2ichelper;
					font-size: 1rem;
					text-align: right;
					font-style: italic;
					color: var(--input-progress-color);
					border-top: 4px solid var(--icon-color);
					margin-top: -6px;

				}
			}

			& #previousButton,
			& #forwardButton {
				color: var(--icon-color);
				&:hover { color: inherit; }

				&:focus { color: inherit; }

				&:active { color: inherit; }
			}

			& #previousButton {
				grid-area: c2rback;
				align-self: flex-end;
			}

			& #forwardButton {
				--fwd-button-size: 6rem;
				top: calc((140px - var(--fwd-button-size)) / 2);
				position: absolute;
				font-size: var(--fwd-button-size);
				grid-area: c2rfwd;
				transform: translateY(16px);

				&:active {
					text-shadow: 2px 2px 3px var(--gray-700);
					transform: translateY(18px);
					transition: all 0.3s ease;
				}

			}

			&.close {
				& #previousButton,
				& #forwardButton {
					color: inherit;
				}
			}

			&.wrong {
				--icon-color: var(--incorrect);

				& #previousButton,
				& #forwardButton {
					color: var(--icon-color);
				}

			}

		}
	} /*  \.center */


} /* \.contact-form-style2  */
