/**
 * Contact Form.
 * Last Update 29_April_2021.
 */
@import "_custom-properties.css";
@import "_custom-selectors.css";
@import "_custom-media.css";

#contact {
	--form-shadow:
		0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12),
		0 8px 10px -5px rgba(0, 0, 0, 0.3);
	--helptext-color: transparent;
	--progress-timing: width 0.6s var(--transition-timing-function);
	--icon-color: var(--gray-400);
	--contact-section-bg: var(--blue);
	--progress-bg: var(--blue-800);
	--accent-color: var(--blue);
	--incorrect: var(--red-700);

	--contact-columns: 1fr minmax(700px, 80%) 1fr;
	--contact-rows: 1fr 120px 1fr;
	--contact-template-areas:
		"contact-top contact-top contact-top"
		"contact-left contact-form contact-right"
		"contact-bottom contact-bottom contact-bottom";


	--contact-section-height: 100%;
	--contact-section-min-height: 640px;
	height: var(--contact-section-height);
	min-height: var(--contact-section-min-height);

	background: var(--accent-color);
	position: relative;
	width: 100%;
	overflow-x: hidden;
	@media (--wide) {
		overflow-x: unset;
	}
	z-index: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	& > #progress {
		z-index: 1;
		background: var(--progress-bg);
		position: absolute;
		top: 0;
		left: 0;
		min-height: 100%;
		width: 0;
		transition: var(--progress-timing);
	}

	& > .center {
		/* grid-area: contact-form; */
		display: grid;
		place-items: center;
		position: relative;
		z-index: 2;
		height: 100%;
	}
	& #register {
		--register-height: 140px;
		--register-width: clamp(400px, 60vw, 900px);
		--register-grid-template-columns: 20px 1fr clamp(40px, 10vw, 140px);
		--register-grid-template-rows: 30px 110px;
		--register-grid-areas:
			"form-blank form-back form-advance"
			"form-blank form-content form-advance";

		@media (--wide) {
			--register-width: clamp(550px, calc(50vw - 800px), 900px);
		}

		transform: translateY(3%);
		overflow: hidden;
		font-size: 10px;
		width: var(--register-width);

		/* grid-area: contact-form; */
		display: grid;
		grid-template-columns: var(--register-grid-template-columns);
		grid-template-rows: var(--register-grid-template-rows);
		grid-template-areas: var(--register-grid-areas);
		z-index: 4;
		background: var(--foreground);
		box-shadow: var(--form-shadow);
		height: var(--register-height); /* 140px; */
		transition:
			transform 0.1s ease-in-out,
			-webkit-transform 0.1s ease-in-out;


		&.close {
			width: 0;
			padding: 0;
			overflow: hidden;
			transition: 0.8s ease-in-out;
			box-shadow: 0 16px 24px rgba(0, 0, 0, 0);
		}

		&.close #forwardButton.material-icons,
		&.close #previousButton.material-icons {
			color: var(--foreground);
		}

	}


	& #inputContainer {
		z-index: 5;
		position: relative;
		grid-area: form-content;
		display: grid;
		grid-template-rows: 42px 1fr;
		grid-template-areas:
			"input-field"
			"input-helper";
		opacity: 0;
		transition: opacity 0.3s ease-in-out;

		& > label#inputLabel,
		& > input#inputField {
			font-size: 30px;
			grid-area: input-field;
			position: absolute;
			top: 0;
		}
		& > input#inputField {
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;
			top: 16px;
			border: none;
			box-shadow: none;
			border-radius: 0;
			outline: 0;
			border-image-width: 0;
			width: 100%;
			line-height: 0.9;
			background: transparent;

			&:focus {
				z-index: 2;
				background: var(--frosty);
			}
		}
		& > label#inputLabel {
			line-height: 2.25;
			z-index: 1;
			pointer-events: none;
			color: var(--field-focus-text-color);
			transition: all 0.5s var(--transition-timing-function);
			padding-left: 1px;
			font-weight: var(--bold);
		}

		& input#inputField:valid + label#inputLabel {
			z-index: 6;
			font-weight: var(--light);
			line-height: 1.25;
			font-size: 16px;
			transform: translate(34px, -18px);
			transition: all 0.5s var(--transition-timing-function);
		}

		& #inputProgress {
			color: var(--helptext-color);
			overflow: hidden;
			grid-area: input-helper;
			width: 0;
			transition: width 0.6s ease-in-out, color 0.5s 0.3s ease;
			font-size: 18px;
			text-align: right;
			font-style: italic;
			border-top: 4px solid var(--accent-color);
			box-sizing: content-box;
			position: absolute;
			top: 6px;


		}
	}

	& #previousButton.material-icons,
	& #forwardButton.material-icons {
		z-index: 4;
		font-weight: var(--medium);
		font-size: 36px;
		color: var(--icon-color);
		transition: all 0.3s ease;

		&:hover,
		&:focus,
		&:active {
			color: var(--accent-color);
			font-weight: var(--semibold);
			text-shadow: 2px 2px 3px var(--gray-700);
			transition: all 0.3s ease;
			text-shadow: none;
		}

		/* &:hover { color: inherit; }

		&:focus { color: inherit; }

		&:active { color: inherit; } */
	}

	& #previousButton.material-icons {
		grid-area: form-back;
		transform: translateX(-3px);

		&:hover,
		&:focus,
		&:active {
			color: var(--accent-color);
			font-weight: var(--semibold);
			text-shadow: 1px 0 1px var(--gray-700);

		}

	}

	& #forwardButton.material-icons {
		position: absolute;
		font-size: 70px;
		top: 44px;
		left: 14px;
		grid-area: form-advance;

		&:active {
			transform: translateY(18px);
			transition: all 0.3s ease;
		}
	}

	&.close {
		& #previousButton.material-icons,
		& #forwardButton.material-icons {
			color: inherit;
			text-shadow: unset;


			&:hover,
			&:focus,
			&:active {
				color: var(--accent-color);
				font-weight: var(--semibold);
				text-shadow: none;
			}
		}
	}

	& .wrong {
		--icon-color: var(--incorrect);
		--accent-color: var(--incorrect);
		--helptext-color: var(--accent-color);

		& #previousButton.material-icons {
			color: var(--field-focus-text-color);
			font-weight: var(--semibold);
			transition: all 0.3s ease;
		}


	}

}

#contact > span {
	position: absolute;
	top: 50%;
	transform: translateY(320px);
	opacity: 0;
	z-index: 2;
	color: var(--foreground);
	font-size: clamp(30px, 4vw, 118px);
	transition: all 0.4s ease;
}

#contact.form_closed > span {
	transform: translateY(-50%);
	opacity: 1;
	transition: transform 0.4s 0.4s ease, opacity 0.3s 0.4s ease;
	color: var(--foreground);
	font-size: clamp(30px, 4vw, 118px);
}

.home > #contact > .section-title {
	z-index: 6;
}
