/*-----------------------------------------------------------------
#  Items only appear when ENVIRONMENT === 'development' - gives update of width
------------------------------------------------------------------*/
:root {
	--dev-bg: rgb(0, 198, 255, 0.9);
	--dev-bg-filter: blur(8px);
	--dev-text-color: rgb(0, 28, 39, 0.9);
	--dev-page-position: translateX(100%);
	--dev-x-transition: transform 0.5s ease-in;
}

/* Only show developer area when the top more button is clicked. */
.dev-open {
	& #developer {
		--dev-page-position: translateX(80px);
		--dev-x-transition: transform 0.5s 0.5s ease-in;
	}

	& #moreToggleContainer {
		background: var(--frosted);


		& .nav_more {
			color: var(--yellow);
		}
	}
}

#developer {
	position: fixed;
	right: 0;
	top: 0;
	background-color: var(--dev-bg);
	backdrop-filter: var(--dev-bg-filter);
	height: 100vh;
	min-width: 440px;
	width: 100vw;
	z-index: 2;
	transform: var(--dev-page-position);
	transition: var(--dev-x-transition);

	& pre {
		padding: calc(80px + 2vh) 1vw 1vw 2vw;;
		line-height: 1.1;
		font-weight: var(--lightest);
		white-space: pre-wrap;
		background-color: unset;
		color: var(--dev-text-color);
	}
}
