/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
	--flickity-button-blendmode: normal;
	--flickity-button-icon-color: var(--foreground);
	--flickity-button-border-color: var(--gray-800);
	--flickity-button-background-color: var(--blue-400);
	--flickity-button-border-color: var(--background);
	--flickity-button-size: 44px;
	position: relative;

	&:focus {
		outline: none;
	}

	/* draggable */
	&.is-draggable {
		-webkit-tap-highlight-color: transparent;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		& .flickity-viewport {
			cursor: move;
			cursor: -webkit-grab;
			cursor: grab;

			&.is-pointer-down {
				cursor: -webkit-grabbing;
				cursor: grabbing;
			}
		}
	} /* end .is-draggable */
}/* end .flickity-enabled */


.flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* ---- flickity-button ---- */
.flickity-button {
	position: absolute;
	background: var(--flickity-button-background-color);
	color: var(--flickity-button-icon-color);
	mix-blend-mode: var(--flickity-button-blendmode);
	transition: all 0.4s ease;
	border: 3px solid var(--flickity-button-border-color);
	padding: unset;

	&:hover {
		cursor: pointer;
		transition: all 0.4s ease;
		border: 4px solid var(--foreground);
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 5px var(--blue-500);
	}

	&:active {
		opacity: 0.6;
	}

	&:disabled {
		opacity: 0.3;
		cursor: auto;

		/* prevent disabled button from capturing pointer up event. #716 */
		pointer-events: none;
	}

} /* ---- end .flickity-button ---- */

.flickity-button-icon {
	fill: currentColor;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
	top: 50%;
	width: var(--flickity-button-size);
	height: var(--flickity-button-size);
	border-radius: 50%;

	/* vertically center */
	transform: translateY(-50%);

	&.previous {
		left: 10px;
	}

	&.next {
		right: 10px;
	}
}

/* ---- page dots ---- */
.flickity-page-dots {
	position: absolute;
	width: 100%;
	bottom: -25px;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	line-height: 1;

	& .dot {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 0 8px;
		background: var(--gray-900);
		border-radius: 50%;
		opacity: 0.25;
		cursor: pointer;
	}

	& .dot.is-selected {
		opacity: 1;
	}
}

/* right to left */
.flickity-rtl {

	& .flickity-page-dots {
		direction: rtl;
	}

	& .flickity-prev-next-button {

		&.previous {
			left: auto;
			right: 10px;
		}

		&.next {
			right: auto;
			left: 10px;
		}

		& .flickity-button-icon {
			position: absolute;
			left: 20%;
			top: 20%;
			width: 60%;
			height: 60%;
		}
	}

}
