/**
* Custom styles for the front-page.php template.
*/

@import "_custom-properties.css";

:root {
	--alternate-bezier-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275); /* can be removed */
	--bezier-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045); /* can be removed */
	--bg-bezier: cubic-bezier(0.21, 1.47, 0.89, 1.51);
	--bgc: #3a4151;
	--bgc: #0273b9;
	--bgc-two: rgba(66, 74, 92, 0.6);
	--bgc-two: rgba(40, 80, 120, 0.6);
	--box-shadow-one: 0 1px 3px rgba(0, 0, 0, 0.12);
	--box-shadow-two: 0 1px 2px rgba(0, 0, 0, 0.24);
	--box-shadow: var(--box-shadow-one), var(--box-shadow-two);
	--burger-div-height: 45px;
	--header-width: 60px;
	--shadow-one: 0 1px 3px rgba(0, 0, 0, 0.12);
	--shadow-two: 0 1px 2px rgba(0, 0, 0, 0.24);
	--side-menu-box-shadow: var(--shadow-one), var(--shadow-two);
	--side-menu-z-index: 1000;
}


/* header#main-header {
	grid-area: sidemenu;
	width: var(--header-width);
	height: 100%;
	left: 0;
	transition: left 0.5s ease-in-out 0.2s;
	position: fixed;
	display: inline-block;
	background-color: var(--bgc);
	z-index: 1000;
} */



/* header#main-header nav {
	height: 100%;
	width: var(--header-width);
	box-shadow: var(--box-shadow);
	position: absolute;
	left: 0;
} */

/* EXPERIMENTAL FORM: template-parts/frontpage/form-experiment.php */

#form-experiment {
	--box-shadow:
		0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12),
		0 8px 10px -5px rgba(0, 0, 0, 0.3);
	--mail-unicode: "\2709";
	--arrow-unicode: "\2794";
	--person-unicode: "\1F464";
	--general-color: var(--blue-600);
	--progress-color: var(--blue-800);
	--icon-color: var(--gray-400);
	--incorrect: var(--red-700);
	margin: 0;
	overflow-x: hidden;
	background: var(--general-color);
	font-family: var(--font-stack);

	& h1 {
		position: relative;
		color: var(--has-dark-bg);
		opacity: 0;
		transition: 0.8s ease-in-out;
	}

	& .center {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	& #register {
		background: var(--has-dark-bg);
		position: relative;
		width: 550px;
		box-shadow: var(--box-shadow);
		transition: transform 0.1s ease-in-out;

		&.close {
			width: 0;
			padding: 0;
			overflow: hidden;
			transition: 0.8s ease-in-out;
			box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0);
		}
	}

	& #submitFormButton,
	& #forwardButton,
	& #previousButton {
		z-index: 20;
		position: absolute;
		float: right;
		cursor: pointer;
		color: var(--icon-color);
		font-size: 40px;

		&:hover {
			color: var(--progress-color);
		}
	}

	& #submitFormButton,
	& #forwardButton {

		--bottom: 5px;
		--bottom: 20%;
		--font-size: 5rem;
		--font-size: 3.5rem;
		right: 20px;
		bottom: var(--bottom);
		font-size: var(--font-size);

		&:focus {
			color: var(--has-dark-bg);
			background: var(--general-color);
		}
	}


	& #submitFormButton {
		appearance: none;
		background: unset;
		padding: unset;
		border-width: 0;
		z-index: 14;

		&.hideButton {
			display: none;
		}

		&.showButton {
			display: inline-block;
		}
	}

	/* Previous button appears instead of the person character once we've advanced past the first question */
	& #previousButton {
		font-size: 1.2rem;
		left: 30px; /* same as padding on container */
		top: 12px;
		transform: rotate(180deg);

		&::after {
			content: var(--arrow-unicode);
		}

		&.person-symbol {
			transform: unset;

			&::after {
				content: var(--person-unicode);
			}
		}
	}

	& .wrong #forwardButton {
		color: var(--incorrect);
	}

	& .close #forwardButton,
	& .close #previousButton {
		color: var(--has-dark-bg);
	}

	& #inputContainer {
		position: relative;
		padding: 30px 20px 20px 20px;
		margin: 10px 60px 10px 10px;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;

		& input {
			position: relative;
			width: 100%;
			border: none;
			font-size: 20px;
			font-weight: 700;
			outline: 0;
			background: transparent;
			box-shadow: none;

			&:valid + #inputLabel {
				top: 6px;
				left: 42px; /* space for previous arrow */
				margin-left: 0 !important;
				font-size: 11px;
				font-weight: 400;
				color: var(--icon-color);
			}
		} /*  input */
	}

	& #inputLabel {
		position: absolute;
		pointer-events: none;
		top: 32px; /* same as container padding + margin */
		left: 20px; /* same as container padding */
		font-size: 20px;
		font-weight: var(--bold);
		transition: 0.2s ease-in-out;
	}

	& #inputProgress {
		border-bottom: 3px solid var(--color-theme-blue);
		width: 0;
		transition: width 0.6s ease-in-out;
	}

	& .wrong #inputProgress {
		border-color: var(--incorrect);
	}

	/* shows up as we move through the form in the bakground */
	& #progress {
		position: absolute;
		background: var(--progress-color);
		height: 100vh;
		width: 0;
		will-change: width;
		transition: width 0.2s var(--transition-timing-function);
	}

} /* \#form-experiment */


@media (max-width: 420px) {
	#form-experiment {
		& #forwardButton {
			right: 10px;
		}

		& #previousButton {
			left: 10px;
		}

		& #inputLabel {
			left: 0;
		}

		& #inputContainer {
			padding-left: 0;
			margin-right: 20px;
		}
	}
}
