/**
 * Custom styles for the front-page.php template.
 */

/* min-width:60em, 840px */
@media (--sidebar-query) {
	.site {
		margin: 0;
	}

	.site-main {
		margin: 0;
	}
}

.frontpage_masthead {
	grid-column: 1 / -1;
}
