/* stylelint-disable max-line-length */
:root {
	/* Colors */
	--dark: #515153;
	--bg-tiles: #c6cdd2;
	--bg-grout: #d9ecff;
	--greeting-color: #c03820;
	--text-shadow-color: #515153;
	--title-skew: skewY(-8deg);
	--mix-blend-mode: darken;
	--box-shadow-one: 0 5px 30px rgba(0, 0, 0, 0.25);
	--box-shadow-two: var(--box-shadow-one), -10px 5px 30px rgba(0, 0, 0, 0.25);
	--location-position-left: 3vmin;
	--location-position-bottom: 1vmin;
	--location-text-color: #c03820;
	--location-letter-spacing: -6px;
	--location-font-size: 12vmin;
	--location-stroke-color: #f3f3f3;
	--greeting-font-size: 6vmin;
	--supplemental-info-font-size: 3vmin;
	--greeting-font-family: yellowtail, sans-serif;
	--location-font-family: oswald, sans-serif;
}

body {
	margin: 0;
	color: var(--dark);
}

/* Slider Element - contains slides */
.glider-contain {
	position: relative;
	width: 100%;
	max-height: 1100px;
	margin: 0 auto;
	margin-bottom: 2vmin;
	padding-bottom: 4vmin;
	background:
		linear-gradient(135deg, var(--bg-tiles) 21px, var(--bg-grout) 22px, var(--bg-grout) 24px, transparent 24px, transparent 67px, var(--bg-grout) 67px, var(--bg-grout) 69px, transparent 69px),
		linear-gradient(225deg, var(--bg-tiles) 21px, var(--bg-grout) 22px, var(--bg-grout) 24px, transparent 24px, transparent 67px, var(--bg-grout) 67px, var(--bg-grout) 69px, transparent 69px) 0 64px;
	background-color: var(--bg-tiles);
	background-size: 64px 128px;
}

/* An individual slide */
.container {
	display: flex;
	justify-content: center;
	font-size: var(--supplemental-info-font-size);
	color: var(--dark);
	padding: 1vw 0;
	margin-bottom: 2vmin;
	padding-bottom: 2vmin;
	min-width: 800px;
	margin-top: 120px;
}

.card-wrapper {
	overflow: hidden;
	height: 80%;
	max-height: 980px;
	width: 75vw;
	border: 20px solid #fff;
	box-shadow: var(--box-shadow-two);
	position: relative;
	display: flex; /* Might not need to be here */
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: center;
}

.initial {
	z-index: 2;
	position: relative;
	box-sizing: content-box;
	height: calc(var(--location-font-size) + var(--greeting-font-size) + 4vmin);
	width: 85%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	transform: translateY(-6vmin) translateX(-14%) skewY(-6deg);
}

.initial > div:first-of-type {
	position: absolute;
	color: var(--dark);
	top: 10px;
	left: 14px;
	z-index: 3;
	font-family: var(--greeting-font-family);
	font-size: 2.7rem;
}

.initial > div:nth-child(2n) {
	font-family: oswald, sans-serif;
	font-size: var(--location-font-size);
	position: absolute;
	bottom: var(--location-position-bottom);
	left: var(--location-position-left);
	z-index: 1;
	-webkit-text-stroke: 4px var(--location-stroke-color);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	color: var(--location-text-color);
}

.initial > div:nth-child(3n) {
	font-family: oswald, sans-serif;
	font-size: var(--location-font-size);
	color: var(--text-shadow-color);
	position: absolute;
	bottom: calc(var(--location-position-bottom) + 2px);
	left: calc(var(--location-position-left) + 1px);
	text-shadow: 1px 1px 0 var(--text-shadow-color), 2px 2px 0 var(--text-shadow-color), 3px 3px 0 var(--text-shadow-color), 4px 4px 0 var(--text-shadow-color), 5px 5px 0 var(--text-shadow-color), 6px 6px 0 var(--text-shadow-color), 7px 7px 0 var(--text-shadow-color), 8px 8px 0 var(--text-shadow-color), 9px 9px 0 var(--text-shadow-color), 10px 10px 0 var(--text-shadow-color), 11px 11px 0 var(--text-shadow-color), 12px 12px 0 var(--text-shadow-color), 13px 13px 0 var(--text-shadow-color), 14px 14px 0 var(--text-shadow-color), 15px 15px 0 var(--text-shadow-color);
}

.container {
	justify-content: center;
	max-width: 1280px;
	width: 80vw;
	min-height: 90vh;
	margin: 1vw auto;
	position: relative;

}

/* Division that uses the signage photo as a background-image */
.card-wrapper {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 4vw;
	width: 100%;
	height: 92vh;
}

/* Bottom Information (Client + Package) */
.supplemental-info {
	z-index: 9;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	align-self: flex-end;
	background: #fff;
	color: var(--dark);
	font-family: var(--greeting-font-family);
	font-size: var(--supplemental-info-font-size);
	justify-content: space-between;
	letter-spacing: 1px;
	margin-top: 15px;
}

.greeting {
	margin: 10px 0 25px 20px;
	color: var(--greeting-color);
	font-family: var(--greeting-font-family);
	font-size: var(--greeting-font-size);
	transform: var(--title-skew);
}


/* CSS copied from glider.js -- not all that sure any of this is needed */
.glider {
	margin: 0 auto;
	position: relative;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	transform: translateZ(0);
}

.glider-track {
	transform: translateZ(0);
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	z-index: 1;
}

.glider.draggable {
	user-select: none;
	cursor: -webkit-grab;
	cursor: grab;
}

.glider.draggable .glider-slide img {
	user-select: none;
	pointer-events: none;
}

.glider.drag {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.glider-slide {
	user-select: none;
	justify-content: center;
	align-content: center;
	width: 100%;
}

.glider-slide img {
	max-width: 100%;
}

.glider::-webkit-scrollbar {
	opacity: 0;
	height: 0;
}

.glider-prev,
.glider-next {
	user-select: none;
	position: absolute;
	outline: none;
	background: none;
	padding: 0;
	z-index: 2;
	font-size: 40px;
	text-decoration: none;
	left: -23px;
	border: 0;
	top: 30%;
	cursor: pointer;
	color: #666;
	opacity: 1;
	line-height: 1;
	transition:
		opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67),
		color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
	color: #a89cc8;
}

.glider-next {
	right: -23px;
	left: auto;
}

.glider-next.disabled,
.glider-prev.disabled {
	opacity: 0.25;
	color: #666;
	cursor: default;
}

.glider-slide {
	min-width: 150px;
}

.glider-hide {
	opacity: 0;
}

.glider-dots {
	user-select: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	padding: 0;
}

.glider-dot {
	border: 0;
	padding: 0;
	user-select: none;
	outline: none;
	display: block;
	cursor: pointer;
	color: #ccc;
	border-radius: 999px;
	background: #ccc;
	width: 12px;
	height: 12px;
	margin: 7px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
	background: #a89cc8;
}

@media ( max-width: 36em ) {

	.glider::-webkit-scrollbar {
		opacity: 1;
		-webkit-appearance: none;
		width: 7px;
		height: 3px;
	}

	.glider::-webkit-scrollbar-thumb {
		opacity: 1;
		border-radius: 99px;
		background-color: rgba(156, 156, 156, 0.25);
		box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
	}
}
