/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
# Accessibility
# Layout
# Forms
# Header
	# Main navigation menu
# Content navigation
# Footer
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_custom-properties.css";
@import "_custom-selectors.css";
@import "_accessibility.css";
@import "_navigation.css";
@import "_forms.css";
@import "_reset.css";
@import "_typography.css";
@import "_elements.css";
@import "_links.css";
@import "_flex.css";
@import "_footer.css";





/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site {
	margin: 0;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	height: 100vh;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
	min-height: 80px;
	padding: 0 2vw;
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.site-header,
.site-footer {
	display: grid;
	grid-column: 1 / -1;
	background: var(--color-theme-primary);
}

.site-branding {
	grid-column: 1 / 1;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: flex-end;
	align-items: flex-end;
	margin-bottom: 14px;
}


/* Drag indicator for flickity */
.drag-svg {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: var(--blue-600);
	display: flex;
	align-items: center;
	justify-content: center;

	& > svg {
		width: 30px;
		animation: leftToRight 12s infinite;
	}
}


@keyframes leftToRight {
	0% {
		transform: translate3d(5px, 0, 0);
	}
	50% {
		transform: translate3d(-5px, 0, 0);
	}
	100% {
		transform: translate3d(5px, 0, 0);
	}
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {

	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}
