/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
# Accessibility
# Layout
# Forms
# Header
	# Main navigation menu
# Content navigation
# Footer
# Infinite scroll
--------------------------------------------------------------*/

/*---------------------------------------------------- ----------
# Imports
--------------------------------------------------------------*/
/* stylelint-disable at-rule-empty-line-before */
@import "_custom-properties.css";
@import "_custom-selectors.css";
@import "_reset.css";
@import "_navigation.css";
@import "_keyframes.css";
@import "_accessibility.css";
@import "_header.css";
@import "_forms.css";
@import "_typography.css";
@import "_elements.css";
@import "_links.css";
@import "_flex.css";
@import "_footer.css";

/* @import "_select.css"; */

/*--------------------------------------------------------------
# Utility
--------------------------------------------------------------*/

/* unicode icon for phone */
span[itemprop="streetAddress"] {
	display: block;
}

/* NOTE THAT THIS WILL STILL BE SEEN BY SCREEN READERS & Will take up whitespace */
.hide,
.hidden {
	visibility: hidden;
}

/* Removes the element from the DOOM altogether */
.display_none,
.remove {
	display: none;
}

.light-text {
	color: var(--color-theme-white);

	& :--heading,
	& span {
		color: var(--color-theme-white);
	}
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
body {
	padding: 0;
	margin: 0;
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 4fr 2fr;
	gap: 0 0;
	grid-template-areas:
		"header"
		"content"
		"footer";
}

#content {
	margin-left: 0;
}

nav#side-hamburger-nav {
	display: none;
}



#main-header {
	border-bottom: 2px solid var(--gray-500);
	background: var(--gray-300);
	max-height: 160px;
	display: grid;
	grid-area: header;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-areas: "branding topmenu searchbar";
	justify-content: center;
	align-items: flex-end;
}


.branding {
	grid-area: branding;
	border-right: 2px solid var(--gray-700);
	place-items: center;

}

.main-navigation {
	grid-area: topmenu;
	display: grid;
	justify-content: flex-end;
	align-items: flex-end;
}

.searchbar { grid-area: footer; }


@media screen and (min-width: 768px ) {

	body {
		padding: 0;
		margin: 0;
		position: relative;
		display: grid;
		grid-template-columns: 160px, 1fr;
		grid-template-rows: 1fr 4fr 2fr;
		gap: 0 0;
		grid-template-areas:
			"sidemenu content"
			"sidemenu content"
			"sidemenu content";
	}

	#content {
		margin-left: var(--hamburger-menu-width);
		grid-area: content;
	}

	nav#side-hamburger-nav {
		display: block;
	}

	.searchbar { grid-area: searchbar; }
}




/* Drag indicator for flickity */
.drag-svg {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: var(--blue-600);
	display: flex;
	align-items: center;
	justify-content: center;

	& > svg {
		width: 30px;
		animation: leftToRight 12s infinite;
	}
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {

	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}


/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	border-bottom: 1px solid #111;
	margin: 0 auto 2em;
	max-width: var(--content-width);
	overflow: hidden;
	padding: 0 1.5rem 2em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

@media screen and (width > 768px) {

	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation,
	.site-main .pagination {
		padding-left: 0;
		padding-right: 0;
	}
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

.site-main .pagination {
	margin-bottom: 1.5em;
}

.pagination .nav-links {
	justify-content: center;
	flex-wrap: wrap;
}

.pagination .page-numbers {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-right: 1em;
	border: 1px solid var(--color-link);
	min-width: 1.75em;
	line-height: 1.75;
	text-align: center;
	text-decoration: none;
}

.pagination a:visited {
	color: var(--color-link);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
	border-color: #00a0d2;
}

.pagination .prev,
.pagination .next {
	min-width: auto;
	border-color: transparent;
	text-decoration: underline;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .prev:active,
.pagination .next:hover,
.pagination .next:focus,
.pagination .next:active {
	border-color: transparent;
}

.pagination .dots {
	min-width: auto;
	border: none;
}

.pagination .current {
	border-color: var(--global-font-color);
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {

	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}
