/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
# Accessibility
# Layout
# Forms
# Header
	# Main navigation menu
# Content navigation
# Footer
# Infinite scroll
# Unicode Primer
	# "\2714" = ✔
	# "\2713" = ✓
	# "\2706" = ✆
	# "\25BE" = ▾
	# "\002b" = +
--------------------------------------------------------------*/

/*---------------------------------------------------- ----------
# Imports
--------------------------------------------------------------*/
/* stylelint-disable at-rule-empty-line-before */
@import "_custom-properties.css";
@import "_custom-selectors.css";
@import "_custom-media.css";
@import "_grid.css";
@import "_contact-form.css";
@import "_site-search.css";
@import "_navigation.css";
@import "_header.css";
@import "_footer.css";
@import "_forms.css";
@import "_elements.css";

@import "_select.css";
@import "_buttons_icons.css";
@import "_sidenav.css";
@import "_safety-data.css";

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/* @link https://css-tricks.com/fixing-smooth-scrolling-with-find-on-page/ */
html:focus-within {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
	html:focus-within {
		scroll-behavior: auto;
	}
}

/* any and all GRID behavior has been moved to _grid.css*/
html,
body {
	height: 100%;
}

.hide-sidemenu {

	& > aside#sidemenu {
		transform: translateX(-100%);
		transition: transform 0.3s var(--bg-bezier);
	}
}

#page {
	margin: 0;
	width: 100%;
	height: 100%;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

#about {
	display: flex;
	flex-flow: column nowrap;
	min-height: 4vh;
	justify-content: center;
	align-items: center;
	color: var(--text-color);

	& h3 {
		margin: 0 auto;
		font-size: clamp(var(--fontsize-xl), 4vw, 88px);
	}

	& span {
		font-family: var(--highlight-font-family);
		width: clamp(220px, 80vw, 1600px);
		font-size: var(--fontsize-m);
	}
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {

	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer { display: block; }


/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	border-bottom: 1px solid var(--background);
	margin: 0 auto 2em;
	overflow: hidden;
	padding: 0 1.5rem 2em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

@media screen and (width > 768px) {
	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation,
	.site-main .pagination {
		padding-left: 0;
		padding-right: 0;
	}
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

.site-main .pagination {
	margin-bottom: 1.5em;
}

.pagination .nav-links {
	justify-content: center;
	flex-wrap: wrap;
}

.pagination .page-numbers {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-right: 1em;
	border: 1px solid var(--color-link);
	min-width: 1.75em;
	line-height: 1.75;
	text-align: center;
	text-decoration: none;
}

.pagination a:visited {
	color: var(--color-link);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
	border-color: #00a0d2;
}

.pagination .prev,
.pagination .next {
	min-width: auto;
	border-color: transparent;
	text-decoration: underline;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .prev:active,
.pagination .next:hover,
.pagination .next:focus,
.pagination .next:active {
	border-color: transparent;
}

.pagination .dots {
	min-width: auto;
	border: none;
}

.pagination .current {
	border-color: var(--global-font-color);
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {

	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
Drag indicator for flickity
--------------------------------------------------------------*/

.drag-svg {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: var(--blue-600);
	display: flex;
	align-items: center;
	justify-content: center;

	& > svg {
		width: 30px;
		animation: leftToRight 12s infinite;
	}
}

/* NOTE THAT THIS WILL STILL BE SEEN BY SCREEN READERS & Will take up whitespace */
.hide,
.hidden {
	visibility: hidden;
}

/* Removes the element from the DOM altogether */
.display_none,
.remove {
	display: none;
}
