.item {
	counter-increment: boxCount;

	&::after {
		content: counter(boxCount);
	}
}

.frontpage-projects {
	display: var(--hide-flex-hide);
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;

	padding-bottom: 2vw;

	& > h2 {
		color: var(--gray-600);
		font-size: 2rem;
		font-size: clamp(28px, 4vw, 112px);
	}
}

/*
======== SINGLE PROJECT CARD =======
*/
.single-project-card {
	/*#region*/
	--project-card-border: 1px dashed var(--gray-900);
	--card-min-width: 460px;
	--card-min-height: 600px;
	background: var(--foreground);
	font-family: var(--highlight-font-family);
	text-transform: uppercase;
	min-width: var(--card-min-width);
	min-height: var(--card-min-height);
	width: var(--card-min-width);
	height: var(--card-min-height);
	display: grid;
	grid-template-columns: 1fr 4fr 1fr 30px;
	grid-template-rows: 1fr 1fr 300px 60px 40px 40px 1fr;
	grid-template-areas:
		". open date date"
		". title title location"
		"image image image location"
		". signtype signtype location"
		". expertise expertise location"
		". industry industry location"
		"tease tease more more";
	grid-auto-flow: row;
	margin: 2em;
	margin-right: 100px;
	position: relative;
	box-shadow: 1px 1px 2px var(--gray-300);

	/* & > * {
		padding: 0.6rem 0.5rem;
	} */
	& .open { grid-area: open; }
	& .date { grid-area: date; }
	& .footnote { grid-area: footnote; }
	& .title { grid-area: title; }
	& .location { grid-area: location; }
	& .image { grid-area: image; }
	& .signtype { grid-area: signtype; }
	& .expertise { grid-area: expertise; }
	& .industry { grid-area: industry; }
	& .tease { grid-area: tease; }
	& .more { grid-area: more; }

	& .more,
	& .date {
		display: grid;
		place-items: center;
		background: var(--blue);
		color: var(--foreground);
	}

	& .date {
		& > strong {
			color: var(--foreground);
			font-size: 1.6em;
			line-height: 1.1;
		}
	}

	& .open {
		border-right: unset;
		border-bottom: var(--project-card-border);
	}

	& .tease { border-top: var(--project-card-border); }

	& .signtype,
	& .expertise,
	& .industry {
		border: var(--project-card-border);
		border-top: unset;
		border-right: unset;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
	}

	& .title {
		color: var(--color-theme-primary);
		padding: 10px;
		font-size: clamp(2.1rem, 2.35vw, 3rem);
		line-height: 1.05;
		font-weight: 500;
		min-height: 100px;
		border: var(--project-card-border);
		border-bottom: none;
		border-top: none;

		& > a {
			text-decoration: none;

			&:hover,
			&:visited {
				color: var(--color-theme-primary);
			}

			&:hover {
				text-shadow: 1px 0 1px var(--background);
			}

			&:active {
				text-shadow: 1px 0 1px var(--background);
				color: var(--blue-100);
			}
		}
	}


	& .image {
		padding-top: unset;
		padding-bottom: unset;
		min-height: 250px;
	}

	& .location {
		writing-mode: vertical-rl;
		padding: 0;
		border: var(--project-card-border);
		border-right: unset;
		border-left: unset;

		& > span { padding-top: 5%; }
	}

	& .location,
	& .footnote {
		font-size: 85%;
	}

	& .more {
		background: var(--color-theme-primary);
		height: 98%;
		text-align: right;
		padding-right: 4px;
		font-size: 1.1em;

		& a {
			font-weight: var(--medium);
			color: var(--foreground);

			&:hover,
			&:visited,
			&:active {
				color: var(--foreground);
			}
		}
	}


	& .checkbox {
		pointer-events: none;
		margin-left: 10px;


		& input {
			height: 0;
			width: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		& input:checked + label::after {
			content: "";
			position: absolute;
			width: 22px;
			height: 5px;
			background: var(--color-theme-primary);

			/* left: -2px; */
			/* transform: rotate(-45deg); */
			/* top: 7px; */
			right: calc(100% - 18px);
			transform-origin: right center;
			transform: rotateZ(-45deg);
			border-radius: 5px;
		}

		& label {
			padding: 0 20px 5px 30px;
			position: relative;
			font-size: 14px;

			& > a {
				text-decoration: none;
				font-weight: 500;
				color: var(--color-theme-primary);
			}
		}

		& label::before {
			content: "";
			position: absolute;
			border: 1px solid;
			width: 18px;
			height: 18px;
			left: 0;
		}

	}

	/*#endregion*/

	/*#region*/
	/* These end up being the shdows for the individual cards */
	&::before,
	&::after {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 35px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width: 300px;
		background: #777;
		box-shadow: 0 35px 20px 4px var(--gray-400);
		transform: rotate(-4deg);
	}

	&::after {
		transform: rotate(4deg);
		right: 10px;
		left: auto;
	}

	/*#endregion*/
}


/* ---- Display projects as a packed grid only on smaller and wide screens ---- */
.packery_projects {
	display: var(--flex-hide-flex);
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.packery_projects,
.packery-container {
	width: 100%;
}

.single_p {
	--single-grid-item-width: 50%;
	--single-grid-item-height: 320px;
	float: left;
	position: relative;
	height: 320px;
	width: 50%;


	&.vertical {
		height: calc(2 * var(--single-grid-item-height));
	}

	& > figure {
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;

		& > img {
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
		}

		& > figcaption.packed-project {
			--blue-highlight: rgba(39, 39, 164, 0.9);
			position: absolute;
			top: 100%;
			left: 0;
			height: 100%;
			width: 100%;
			display: grid;
			grid-template-rows: 50% repeat(3, 1fr);
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas:
				". . ."
				"fgp-name fgp-name fgp-name"
				"fgp-ind fgp-ind fgp-ind"
				". . .";
			background: var(--dark-frosted);
			backdrop-filter: blur(10px) hue-rotate(40deg);
			z-index: 3;
			transition: top 0.3s linear;
			justify-items: center;
			align-items: baseline;

			& > span {
				font-weight: var(--superbold);
				text-align: center;
				font-size: var(--fontsize-m);

				&.project_name {
					grid-area: fgp-name;
					align-self: self-end;
				}

				&.project_industry {
					--letterSpacing: 0.04em;
					--fontsize-s: clamp(18px, 1.5vw, 28px);

					font-variant: small-caps;
					letter-spacing: var(--letterSpacing);
					grid-area: fgp-ind;
					font-weight: var(--normal);
					font-size: var(--fontsize-s);

				}

				& > a { color: var(--foreground); }

			}
		} /* \figcaption.packed-project */

		&:hover {

			& > figcaption.packed-project {
				top: 0;
				transition: top 0.4s ease-out;
			}
		} /*figure:hover*/


	}
}/* \.single_p */


div.project-header-image-navigation {

	background: var(--dark-frosty);
	width: 100%;
	border-top: var(--standard-border);

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;

	& > span {
		background: var(--dark-frosty);
		height: 100%;
		font-weight: var(--normal);

		display: flex;
		width: 50%;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;

		& span {
			font-weight: inherit;
			margin: 0 8px;
		}

		& span ~ a {
			color: var(--foreground);
			font-weight: inherit;
			letter-spacing: 0.05em;
		}

		/* Place arrow on the second span to the right of the word 'next' */
		&:last-of-type {
			flex-direction: row-reverse;
			border-left: var(--standard-border);
		}
	}
}

article {
	padding: 2vw;

	& .entry-header {
		margin-bottom: 28px;
	}
}


.single-project {
	& .entry-header {
		& > .entry-title {
			display: none;
		}
	}

}
