.item {
	counter-increment: boxCount;

	&::after {
		content: counter(boxCount);
	}
}

.frontpage-projects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;

	padding-bottom: 2vw;

	& > h2 {
		color: var(--gray-600);
		font-size: 2rem;
		font-size: clamp(28px, 4vw, 112px);
	}
}

/*#region*/
/*
======== SINGLE PROJECT CARD =======
*/
.project-card {
	background: var(--foreground);
	font-family: var(--highlight-font-family);
	text-transform: uppercase;
	width: 600px;
	display: grid;
	grid-template-columns: [left] 2fr [center] 1fr [right] min-content;
	grid-auto-rows: min-content;
	margin: 2rem;
	position: relative;
	box-shadow:
		0 4px 0 -2px #ddd,
		1px 1px 2px 1px var(--gray-300);

	& > * {
		padding: 0.6rem 0.5rem;
	}

	&::before,
	&::after {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 35px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width: 300px;
		background: #777;
		box-shadow: 0 35px 20px 4px var(--gray-400);
		transform: rotate(-4deg);
	}

	&::after {
		transform: rotate(4deg);
		right: 10px;
		left: auto;
	}

	& .project_name,
	& .project_tease,
	& .project_image,
	& .project_signtype,
	& .project_expertise,
	& .project_industry {
		grid-column: 1 / 3;
		border-bottom: var(--border);
		border-right: var(--border);
	}

	& .project_name {
		color: var(--color-theme-primary);
		grid-row: 2;
		padding-bottom: 1.2rem;
		margin-bottom: 0;
		font-size: clamp(2.1rem, 2.35vw, 3rem);
		line-height: 1.15;
		font-weight: 500;
		min-height: 100px;

		& > a {
			text-decoration: none;
		}
	}

	& .project_tease {
		grid-row: 3;
	}

	& .project_image {
		padding-top: unset;
		padding-bottom: unset;
		grid-row: 4 / span 2;
		min-height: 250px;
	}

	& .location {
		transform: rotate(180deg);
		writing-mode: vertical-lr;
		padding: 0;
		grid-row: 3 / span 5;
		grid-column: 3 / 4;
	}

	& .location,
	& .footnote,
	& .more-info-link {
		font-size: 85%;
	}

	& .more-info-link {
		background: var(--color-theme-primary);
		height: 98%;
		grid-column: 2 / span 2;
		text-align: right;
		padding-right: 2vw;

		& a {
			font-weight: var(--medium);
			color: var(--body-bg-color);
		}
	}

	& .footnote {
		grid-column: 1 / 2;
	}


	& .side-title {
		display: inline-block;
		margin-bottom: 0.75rem;

		/* grid-row: 5 / span 2; */
		padding: 0 0.8rem 0.75rem;
		border-bottom: var(--border);
	}

	& .project_name,
	& .project_tease,
	& .project_completion,
	& .signtype,
	& .expertise,
	& .industry,
	& .weight {
		border-bottom: var(--border);
	}

	& .project_tease,
	& .project_completion,
	& .signtype,
	& .expertise,
	& .industry,
	& .footnote {
		border-right: var(--border);
	}

	& .checkbox {
		display: block;
		pointer-events: none;

		&:nth-child(1) {
			margin-right: 30px;
		}

		& input {
			height: 0;
			width: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		& input:checked + label::after {
			content: "";
			position: absolute;
			width: 22px;
			height: 5px;
			background: var(--color-theme-primary);
			left: -2px;
			transform: rotate(-45deg);
			top: 7px;
			border-radius: 5px;
		}

		& label {
			padding: 0 20px 5px 30px;
			position: relative;
			font-size: 14px;

			& > a {
				text-decoration: none;
				font-weight: 500;
				color: var(--color-theme-primary);
			}
		}

		& label::before {
			content: "";
			position: absolute;
			border: 1px dashed;
			width: 18px;
			height: 18px;
			left: 0;
		}

	}

	& .strip {
		grid-column: 1 / 3;
		grid-row: 1;
	}

	& .square {
		background: var(--background);
		color: var(--foreground);
	}

	& .square.one {
		grid-row: 1;
		grid-column: 2/4;
		height: 2.5rem;
	}
}

/*#endregion*/

/*
========= PROJECT PROFILE SINGLE PAGE ===========
*/
/*#region*/

/* body class for a single project page*/

.single-project {

	& .client_logo {
		width: 10vw;
		height: 10vw;
	}

	& section {
		width: 100%;
	}
}

@media screen and (max-width: 599px) {
	.single-project {

		--project-grid-template-columns: repeat(3, 1fr);
		--project-grid-template-rows: 50vw 1fr 1fr 1fr 1fr;
		--project-grid-template-areas:
			"projecthead projecthead projecthead"
			"projectprofile projectprofile projectprofile"
			"projectslides projectslides projectslides"
			"projectrelated projectrelated projectrelated"
			"projectmisc projectmisc projectmisc";
		--sliding-element-area: projectslides;
		--project-header-area: projecthead;
	}
}

@media screen and (min-width: 600px) {
	.single-project {
		--project-grid-template-columns: repeat(3, 1fr);
		--project-grid-template-rows: 50vw 1fr 1fr 1fr 1fr;
		--project-grid-template-areas:
			"projecthead projecthead projecthead"
			"projectprofile projectprofile projectprofile"
			"projectslides projectslides projectslides"
			"projectrelated projectrelated projectrelated"
			"projectmisc projectmisc projectmisc";
	}
}

main.project_profile {
	width: 100%;
	display: grid;
	grid-area: main;
	grid-template-columns: 1 / -1;
	grid-template-rows: var(--project-grid-template-rows);
	grid-template-areas: var(--project-grid-template-areas);
}

#sliding-element {
	grid-area: projectslides;
	height: 100%;
	min-height: 460px;
}

.project-header { grid-area: projecthead; }

.project_profile { grid-area: projectprofile; }

.related_projects { grid-area: projectrelated; }

.project_misc { grid-area: projectmisc; }

.project_misc {
	color: var(--background);

	& > pre {
		font-family: var(--highlight-font-family);
		color: rgb(225, 218, 95);
		background: rgba(0, 0, 0, 0.8);
		font-size: var(--fontsize-xxs);
		line-height: var(--global-font-line-height);
	}
}

/*#endregion*/
/*
======== Projects - all projects page - page-id-699 =======
*/
/*#region*/
.all_projects {
	--blendmode: color-burn;
	& .container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
		grid-gap: 2rem;
		margin: 2rem;

		& > .card {
			height: 215px;
			position: relative;
			overflow: hidden;
			border-radius: 8px;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
			display: grid;
			grid-template-rows: 1fr 1fr;
			transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

			& img {
				position: absolute;
				top: 0;
				height: 110%;
				width: 100%;
				z-index: -1;
				transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
			}

			& .overlay {
				background: var(--gray-800);
				position: absolute;
				mix-blend-mode: var(--blendmode);
				top: 0;
				height: 100%;
				width: 100%;
				z-index: 1;
			}

			& figcaption {
				display: grid;
				grid-template-rows: 1fr 1fr;
				grid-template-areas:
					"title"
					"excerpt";
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
				z-index: 2;


				& h3,
				& span {
					mix-blend-mode: var(--blendmode);
					--font: var(--global-font-family);
					--font-weight: var(--superbold);
					color: var(--foreground);
					font-family: var(--font);
					font-weight: var(--font-weight);
					z-index: 3;
				}

				& h3 {
					font-size: 24px;
					margin: 20px 0 0 20px;
					grid-area: title;

					& > a {
						color: inherit;
						text-decoration: none;
					}

				}

				& span {
					grid-area: excerpt;
					font-size: 16px;
					align-self: end;
					margin: 0 0 20px 20px;
					letter-spacing: 0.5px;
				}
			}

			&:hover {
				transform: scale(1.035, 1.035);
				box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);

				& img {
					transform: translateY(-10px);
				}
			}
		} /* .all-projects .container > .card */


	} /* .container */

}

/*#endregion*/

.single-project-card {
	--last-col-width: 60px;
	--card-width: 440px;
	--card-height: 755px;
	--image-height: 300px;
	--image-width: calc(var(--card-width) - var(--last-col-width));

	/*#region*/
	width: var(--card-width);
	min-height: var(--card-height);
	margin: 2rem;
	font-family: var(--highlight-font-family);
	text-transform: uppercase;
	background: var(--foreground);
	display: grid;
	grid-template-columns: 2fr 1fr var(--last-col-width);
	grid-template-rows: 60px minmax(110px, max-content) minmax(80px, max-content) 285px repeat(4, 70px);
	grid-template-rows: auto;
	position: relative;

	/*#endregion*/
	grid-template-areas:
		"open             projectcomplete  projectcomplete"
		"projecttitle     projecttitle     projectlocation"
		"projecttease     projecttease     projectlocation"
		"projectimage     projectimage     projectlocation"
		"projectimage     projectimage     projectlocation"
		"projectsigntypes projectsigntypes libre"
		"projectexpertise projectexpertise libre"
		"projectindustry  projectindustry  libre"
		"projectfootnote  moreinformation  moreinformation";

	/*#region*/
	box-shadow:
		0 4px 9px 2px var(--gray-200),
		1px 1px 2px 1px var(--gray-300);

	& > * {
		padding: 0.6rem 0.5rem;
	}

	/* These are boxes behind cast lower shadow effect */
	&::before,
	&::after {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 35px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width: 300px;
		background: var(--gray-200);
		box-shadow: 0 35px 20px 4px var(--gray-400);
		transform: rotate(-4deg);
	}

	&::after {
		transform: rotate(4deg);
		right: 10px;
		left: auto;
	}

	/*#endregion*/


	& .project_signtype { grid-area: projectsigntypes; }
	& .project_expertise { grid-area: projectexpertise; }
	& .project_industry { grid-area: projectindustry; }
	& .open { grid-area: open; }
	& .project_completion { grid-area: projectcomplete; }
	& .project_tease { grid-area: projecttease; }
	& .project_title { grid-area: projecttitle; }
	& .project_image { grid-area: projectimage; }
	& .project_location { grid-area: projectlocation; }
	& .project_footnote { grid-area: projectfootnote; }
	& .more_information { grid-area: moreinformation; }

	& .project_title {
		border: var(--border);
		border-left: none;
		padding-bottom: 1.2rem;
		margin-bottom: 0;
		font-size: clamp(2.1rem, 2.35vw, 3rem);
		line-height: 1.15;
		font-weight: var(--bold);
		min-height: 100px;

		& > a {
			text-decoration: none;
		}
	}

	& .project_tease,
	& .project_footnote {
		font-size: var(--fontsize-xxs);
	}

	& .contains-checkboxes {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: flex-start;
	}

	& .project_completion {
		background: var(--color-theme-primary);
		display: flex;
		justify-content: center;

		& > strong {
			font-size: var(--fontsize-m);
			font-weight: var(--extrabold);
			color: var(--foreground);
		}
	}

	& .project_image {
		padding-top: unset;
		padding-bottom: unset;
		width: var(--image-width);
		height: 285px;

	}

	& .project_location {
		transform: rotate(180deg);
		writing-mode: vertical-lr;
		padding: 0;
	}

	& .more_information {
		background: var(--color-theme-primary);
		height: 100%;
		text-align: right;
		padding-right: 2vw;

		& > a {
			font-weight: var(--medium);
			font-size: var(--fontsize-xs);
			color: var(--foreground);
		}
	}

	& .side-title {
		font-size: var(--fontsize-s);
		font-weight: var(--superbold);
		display: inline-block;
		margin-bottom: 0.75rem;
		padding: 0.8rem;
	}


	& .project_name,
	& .project_image,
	& .project_signtype,
	& .project_expertise,
	& .project_industry {
		border-bottom: var(--border);
		border-right: var(--border);
	}

	& .project_completion {
		border-bottom: var(--border);
	}

	& .project_tease,
	& .project_footnote {
		border-right: var(--border);
	}

	& .checkbox {
		display: flex;
		align-items: baseline;
		pointer-events: none;

		&:nth-child(1) {
			margin-right: 30px;
		}

		& input {
			height: 0;
			width: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		& input:checked + label::after {
			content: "";
			position: absolute;
			width: 22px;
			height: 5px;
			background: var(--color-theme-primary);
			left: -2px;
			transform: rotate(-45deg);
			top: 7px;
			border-radius: 5px;
		}

		& label {
			padding: 0 20px 5px 30px;
			position: relative;
			font-size: 14px;

			& > a {
				text-decoration: none;
				font-weight: 500;
				color: var(--global-font-color);
			}
		}

		& label::before {
			content: "";
			position: absolute;
			border: 1px dashed;
			width: 18px;
			height: 18px;
			left: 0;
		}

	}

}


@media screen and (max-width: 540px) {
	.single-project-card {
		--last-col-width: 40px;
		--card-width: 320px;
		--card-height: 540px;
	}
}
