h2.project-title {
		font-size: 10vw;
		line-height: 1.1;
		font-weight: var(--superbold);
		mix-blend-mode: multiply;
		color: var(--orange-500);
}

#project-title {
	background: rgba(255, 255, 255, 0.3);
	padding: 1.7rem;
	backdrop-filter: blur(8px);
}

.client-information {
	max-width: 25vw;
	min-height: 70vh;
	margin-right: 3vw;
	border: 2px solid var( --indigo-600);
}
