/*--------------------------------------------------------------
# Sidebar variables
--------------------------------------------------------------*/
@import "_custom-properties.css";
@import "_custom-selectors.css";
@import "_custom-media.css";


#sidebar {
	--topnav-border: var(--standard-border);
	--topnav-icon-color: var(--background);
	--topnav-icons-color: var(--foreground);

	/* sidebar variables */
	--sidebar-z-index: 3;
	--sidebar-offset-top: 80px;
	--sidebar-height: calc(100vh - 80px);
	--sidebar-open-width: min(620px, 100vw);
	--sidebar-closed-translate-x: calc(-1 * var(--sidebar-open-width));
	--sidebar-backdrop-filter: blur(8px);
	--sidebar-border: none;
	--sidebar-border-left: var(--sidebar-border);
	--sidebar-border-right: var(--sidebar-border);
	--sidebar-border-top: var(--sidebar-border);
	--sidebar-border-bottom: var(--standard-border);

	@media (--wide) {
		--sidebar-border-right: var(--standard-border);
		--sidebar-border-bottom: var(--sidebar-border);
	}

	@media (--slim) {
		--sidebar-open-width: 100vw;
	}

}


.sidebar {
	--sidebar-bg: var(--dark-frosty);

	/* sidebar variables */
	--sidebar-z-index: 3;
	--sidebar-offset-top: 80px;
	--sidebar-height: calc(100vh - 80px);
	--sidebar-closed-translate-x: calc(-1 * var(--sidebar-open-width));
	--sidebar-backdrop-filter: blur(8px);
	--sidebar-border: none;
	--sidebar-border-left: var(--sidebar-border);
	--sidebar-border-right: var(--sidebar-border);
	--sidebar-border-top: var(--sidebar-border);
	--sidebar-border-bottom: var(--standard-border);

	@media (--wide) {
		--sidebar-border-right: var(--standard-border);
		--sidebar-border-bottom: var(--sidebar-border);
	}

	z-index: var(--sidebar-z-index);
	border-top: var(--sidebar-border-top);
	border-right: var(--sidebar-border-right);
	border-bottom: var(--sidebar-border-bottom);
	border-left: var(--sidebar-border-left);
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	background-color: var(--sidebar-bg);
	backdrop-filter: var(--sidebar-backdrop-filter);
	transform: translate(0, 0);

	@media (--wide) {
		/* transform: translate(calc((100% - 80px) * -1), 0); */
	}

	& > nav {
		background-color: var(--dark-frosty);
	}
}

.sidebar_top {
	--sidebar-z-index: 4;
	z-index: var(--sidebar-z-index);

	@media (--wide) {
		border-right: var(--standard-border);
		border-bottom: var(--sidebar-border);
		height: 100%;
		width: 80px;
	}
}

.sidebar_side {
	height: 100%;
	top: 80px;
	width: min(700px, 50vw);
	border-right: var(--standard-border);
	border-bottom: var(--sidebar-border);
	transform: translate(-100%, 0);
	/* transition: transform 1.3s var(--ttf), width 0.6s 0.6s ease-in; */
	transition: all 1.3s var(--ttf);

	@media (--wide) {
		top: 0;
	}

	@media (--slim) {
		width: min(763px, calc(100vw - 5px));
		transition: width 1.3s 0.4s var(--ttf);
	}
}

.sidebar-open .sidebar_side {
	transform: translate(0, 0);
	transition: transform 1.3s var(--ttf);
}



/* individual icons */

.nav-icon-container {
	--nav-single-icon-border-bottom: none;
	--nav-single-icon-border-top: none;
	--nav-single-icon-border-left: none;
	--nav-single-icon-border-right: var(--standard-border);
	position: relative;

	--nav-single-icon-hw: 80px;
	--icon-height: var(--nav-single-icon-hw);
	--icon-width: var(--nav-single-icon-hw);
	height: var(--icon-height);
	width: var(--icon-width);
	overflow: hidden;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	order: 2;
	z-index: 3;

	border-bottom: var(--nav-single-icon-border-bottom);
	border-top: var(--nav-single-icon-border-top);
	border-left: var(--nav-single-icon-border-left);
	border-right: var(--nav-single-icon-border-right);

	&:hover {
		background: var(--frosted);
	}

	& svg {
		height: 65%;
		width: 65%;
	}

	&:last-of-type { border-right: unset; }

	&#open_space {
		flex: 1;
		@media (--narrow) {
			display: none;
		}
		@media (--wide) {
			order: 3;
			border-bottom: none;
		}
	}

	& a.material-icons {
		color: var(--foreground);
		font-size: 44px;
		overflow: hidden;

		&:hover,
		&:focus,
		&:visited {
			color: var(--foreground);
		}
		&:active {
			color: var(--yellow);
		}
	}

}

/* ICON TURNS FROM A HAMBURGER TO AN ARROW */
.open_close_sidebar {

	& > div {
		width: 35px;
		height: 30px;
		margin: 10px 10px;
		position: relative;
		cursor: pointer;
		display: inline-block;

		& > span {
			background-color: var(--foreground);
			position: absolute;
			border-radius: 2px;
			transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
			width: 100%;
			height: 4px;
			left: 0;
			display: block;

			&:nth-child(1) { top: 0; }
			&:nth-child(2) { top: 13px; }

			&:nth-child(3) { bottom: 0; }
		}
	}

	&:hover {
		background: var(--frosted);

		& > div > span {
			left: 0;
			transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);

			&:nth-child(1) { top: -2px; }

			&:nth-child(2) {
				top: 13px;
				transition: 0.4s cubic-bezier(0.8, 0.5, 0.2, 1.4);
			}

			&:nth-child(3) { bottom: -2px; }
		}
	}
} /* \.open_close_sidebar */

.sidebar-open {

	& .sidebar_side {
		transform: translate(0, 0);
		transition: transform 1.3s var(--ttf);
	}

	& .open_close_sidebar {
		background: var(--frosted);

		& > div {
			transform: rotate(90deg);
			transition: transform 0.25s 0.4s cubic-bezier(0.8, 0.5, 0.2, 1.4);

			& span {
				--timing-function: cubic-bezier(0.8, 0.5, 0.2, 1.4);
				transition: 1.3s linear;
				background: var(--yellow);
				&:nth-child(1) {
					left: 3px;
					top: 10px;
					width: 30px;
					transform: rotate(90deg);
					transition-delay: 50ms;
				}
				&:nth-child(2) {
					left: 2px;
					top: 20px;
					width: 20px;
					transform: rotate(45deg);
					transition-delay: 150ms;
				}
				&:nth-child(3) {
					left: 14px;
					top: 20px;
					width: 20px;
					transform: rotate(-45deg);
					transition-delay: 150ms;
				}
			}

			& span {
				--timing-function: cubic-bezier(0.8, 0.5, 0.2, 1.4);
				transition: 3.3s linear;
				background: var(--yellow);
				&:nth-child(1) {
					left: 2px;
					top: 20px;
					width: 20px;
					transform: rotate(45deg);
					transition: top 0.1s 0.01s linear, left 0.2s 0.05s linear, width 0.3s 0.01s linear, transform 0.1s 0.25s linear;
				}
				&:nth-child(2) {
					left: 3px;
					top: 10px;
					width: 30px;
					transform: rotate(90deg);
				}
				&:nth-child(3) {
					left: 14px;
					top: 20px;
					width: 20px;
					transform: rotate(-45deg);
					transition: top 0.1s 0.01s linear, left 0.2s 0.05s linear, width 0.3s 0.01s linear, transform 0.1s 0.25s linear;
				}
			}

		}


	}/* \.open_close_sidebar */
}




/* END OF SINGLE ICON STYLES */

/* the icons navbar */
nav.navigation-icons {
	/* icons general */
	--nav-icons-hamburger-order: -1;
	--nav-icons-logo-order: 1;

	--nav-icons-ff: row nowrap;
	--nav-icons-justify: space-around;
	--nav-icons-align: center;
	--nav-icons-height: 100vh;
	--nav-icons-width: 80px;
	--nav-icons-border-bottom: none;
	--nav-icons-border-left: var(--standard-border);
	--nav-icons-border-right: var(--standard-border);
	--nav-icons-z-index: 3;

	--nav-icons-ff: row nowrap;
	--nav-icons-justify: start;
	--nav-icons-align: center;

	height: 100%;
	width: 100%;
	z-index: var(--nav-icons-z-index);

	overflow: hidden;
	display: flex;
	flex-flow: var(--nav-icons-ff);
	justify-content: var(--nav-icons-justify);
	align-items: var(--nav-icons-align);

	@media (--wide) {
		--nav-icons-ff: column nowrap;
	}





}
