.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-flow: column nowrap;
}

.flex-row {
	display: flex;
	flex-flow: row nowrap;
}


#masthead {
	--masthead-text-color: var(--global-font-color);
	padding-bottom: unset;
	position: relative;
	width: 100vw;
	height: 60vw;
	color: var(--masthead-text-color);
	@extend .flex-row;
	justify-content: space-between;

	& li {
		font-size: clamp(0.9rem, 1.8vw, 3rem);
		font-weight: var(--bold);
	}

	& > div {
		min-width: 220px;
		min-height: 100%;
		width: 45%;

		&:first-of-type {
			padding: 15px 4vmin;
			margin-top: 0.5rem;
		}

		&:last-of-type {
			align-self: flex-end;
		}

		& > h1 {
			font-size: clamp(1.9rem, 2.9vw, 5rem);
			letter-spacing: var(--h1-letter-spacing);

			& ~ p {
				font-size: clamp(12px, 1.8vw, 44px);
			}
		}
	}
}

.related_images {
	@extend .flex-col;

	& #signtype-gallery {
		@extend .flex-row;
		justify-content: space-between;
		min-width: 100%;
		min-height: 280px;

		& img {
			border: 4px solid #fff;
		}
	}
}
