.star-rating-container {
	width: 100%;
	background: var(--yellow);

	& > * {
		float: right;
	}

	& label {
		height: 40px;
		width: 20%;
		display: block;
		position: relative;
		cursor: pointer;

		&::after {
			transition: all 0.4s ease-out;
			-webkit-font-smoothing: antialiased;
			position: absolute;
			content: "☆";
			color: #444;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			font-size: 50px;
			animation: 1s starpulse ease;
		}/* label::after */

		&:hover::after {
			color: #5e5e5e;
			text-shadow: 0 0 15px #5e5e5e;
		}

		&:nth-of-type(1)::after {
			animation-delay: 0.05s;
		}
		&:nth-of-type(2)::after {
			animation-delay: 0.1s;
		}
		&:nth-of-type(3)::after {
			animation-delay: 0.15s;
		}
		&:nth-of-type(4)::after {
			animation-delay: 0.2s;
		}
		&:nth-of-type(5)::after {
			animation-delay: 0.25s;
		}
	}/* label */

	& input {
		display: none;

		&:checked + label::after,
		&:checked ~ label::after {
			content: "★";
			color: #f9bf3b;
			text-shadow: 0 0 10px #f9bf3b;
		}
	}/* input */

}


@keyframes starpulse {
	50% {
		color: #5e5e5e;
		text-shadow: 0 0 15px #777;
	}
}
