.taxonomy-expertise th#images {
	width: 2em;
}

.post-type-attachment span.material-icons.star-rating {
	--star-outline: var(--gray-500);
	font-size: 0.9rem;
	-webkit-text-stroke: 1px var(--star-outline);
}

.dev-aside {
	background: var(-green-400);
	min-height: 220px;
}

article {
	font-size: var(--fontsize-l);
}
