{
	"extends": "/usr/local/lib/node_modules/stylelint-config-wordpress",
	"rules": {
		"at-rule-empty-line-before": [ "always", {
				"except": [ "after-same-name", "inside-block", "blockless-after-same-name-blockless", "first-nested" ],
				"ignore": [ "after-comment", "inside-block" ]
			}],
		"at-rule-no-unknown": [
			true,
			{
			"ignoreAtRules": [
				"custom-media",
				"/^custom/",
				"tailwind"
			]
			}
		],
		"no-descending-specificity": null,
		"no-duplicate-selectors": null,
		"max-line-length": [ 180, {
			"ignore": "comments",
			"ignorePattern": ["/(https?://[0-9,a-z]*.*)|(^description\\:.+)|(^tags\\:.+)/i"]
		} ],
	}
}
